{% extends "base.html" %}
{% load i18n static breakpoint %}
{% block content %}
<div class="container mx-auto prose">
    {% block header_section %}
      <header class="">
        {% block back_link %}
          <p class="mb-6 text-sm text-green"><a href="{% url 'list-api-keys' %}" class="text-neutral-500">&lt; Back to API keys home</a></p>
        {% endblock back_link %}


        <h1 class="text-center mb-1 mt-6 pt-3">
          Create a new API key
        </h1>

        <div class="prose mx-auto mt-8">
          <p>Create an API key to access Green Web data services and products programatically.</p>
        </div>
        </header>
    {% endblock %}

    <article>
      <div class="prose mx-auto mt-8">
        {% if form %}
          <form method="post" class="gwf-form" action="">
            {% csrf_token %}
            {{ form.non_field_errors.as_ul }}
            {{ form }}
            <button type="submit" class="btn w-full mt-6">
                {% block submit_button_text %}
                Save and continue
                {% endblock submit_button_text %}
            </button>
          </form>
        {% endif %}
      </div>
    </article>

</div>
{% endblock %}
