{% extends "base.html" %}
{% load i18n static breakpoint %}
{% block content %}
<div class="container mx-auto prose">
    {% block header_section %}
      <header class="">
        {% block back_link %}
          <p class="mb-6 text-sm text-green"><a href="{% url 'list-api-keys' %}" class="text-neutral-500">&lt; Back to API keys home</a></p>
        {% endblock back_link %}


        <h1 class="text-center mb-1 mt-6 pt-3">
          Revoke API key
        </h1>

        <div class="prose mx-auto mt-8">
          <p>Please confirm that you want to revoke this API key - once you've done so you will no longer be able to use it to access our services.</p>
        </div>
        </header>
    {% endblock %}

    <article>
      <div class="prose mx-auto mt-8">
        <div class="bg-neutral-100 m-0 p-3 px-5 mb-5 border-neutral border-t border-b">
          <div class="columns-2 mt-1">
            <div>
              <strong>Key:</strong>  <code class="font-normal">{{key.displayable_prefix}}...</code>
            </div>
            <div>
              <strong>Expiry date: </strong>{{key.expiry_date | date:"d F Y" | default:"Never" }}
            </div>
          </div>
          <div>
              <strong>Note:</strong> {{key.note | default:"None"}}
          </div>
        </div>
        {% if form %}
          <form method="post" class="form" action="">
            {% csrf_token %}
            {{ form.non_field_errors.as_ul }}
            {% for field in form %}
            <div class="mb-6 {{field.field.widget.attrs.class}}">
              {% if not field.is_hidden %}
              <div class="label_tag">{{ field.label_tag }}</div>
              {% endif %}
              <div class="field">{{ field }}</div>
              {% if field.help_text %}
              <p class="helptext mt-0 pt-1">{{ field.help_text | safe }}</p>
              {% endif %}

              {{ field.errors }}
            </div>
            {% endfor %}
            <button type="submit" class="btn w-full">
              <span class="text-xs">
                {% block submit_button_text %}
                Revoke
                {% endblock submit_button_text %}
              </span>
            </button>
          </form>
        {% endif %}
      </div>
    </article>

</div>
{% endblock %}
