{% extends "base.html" %}
{% load i18n static %}




{% block content %}
<div class="container mx-auto prose">

{% block header_section %}
<section class="mt-10">
	<h1 class="mb-0">Claim A Domain with Carbon.txt</h1>
</section>
{% endblock %}


<article>
    <div class="prose mx-auto mt-8">
      	
		<p class="italic">(Explanatory copy here about how having a carbon.txt file allows you to more control how a badge looks, and who shows up as hosting it.)</p>

		<form>
			{{ form }}

			<button type="submit" class="ml-4 btn"><span class="text-xs">Link a domain via carbon.txt</span></button>

			<button type="submit" class="ml-4 btn btn-white "><span class="text-xs">I don't have a carbon.txt file</span></button>

		</form>

		<p class="italic">(Copy saying "these are the domains you've claimed, and whether the platform has verified their status by finding the domain hash where we expect"</p>


		<div class="">
				{% regroup object_list by provider as grouped_domains %}
				{% for provider in grouped_domains %}
				<h3 class="text-xl pt-10 border-none">{{ provider.grouper }}</h3>

				<div class="provider_listing p-3 md:items-center ">
					
					
					{% for obj in provider.list %}
					<div class="md:flex md:items-center border-green border-t-2 last-of-type:border-b-2">
						<div class="py-6 pr-6">
							<p class="my-0">
								<span class="">{{ obj.domain }}</span> 
								{% if obj.domain == 'datasets.greenweb.org' %}
								<span class="ml-4 bg-yellow-100 text-yellow-800 px-2 py-1 rounded text-xs border border-yellow-800">pending verification</span>
								{% else %}
								<span class="ml-4 bg-green-100 text-green-800 px-2 py-1 rounded text-xs border border-green-800">verified</span>
								{% endif %}
							</p>
							<p class="my-0 pb-0">
								<span class="text-xs">Domain hash: <code>{{ obj.hash }}</code></span>
							</p>
							<p class="my-0" >
								<span class="text-xs">Created by {{ obj.created_by }} at {{ obj.created }}</span>
							</p>
						</div>
						
						<div class="text-right">
						<a href="#" class="btn btn-white text-xs">📝 More details</a>
							<a href="#" class="btn btn-white text-xs">❌ Delete</a>
						</div>
					</div>
					{% endfor %}
					

					{% endfor %}	
				</div>
				
			</div>
		

		<form method="post" action="" class="gwf-form">


		</form>

	</div>
</article>

</div>
{% endblock %}

<