{% extends 'base.html' %}

{% load i18n static humanize widget_tweaks tailwind_filters waffle_tags guardian_tags%}
{% block content %}

  <article>
    <div class="prose mx-auto mt-8">
      	<h1 class="text-center leading-10">
			<span class="text-xl">Welcome to our</span><br> 
			Provider portal</h1>

		{% for request in object_list.requests %}
			<h3 class="text-xl pt-8">Pending approval</h3>
			
			{% if request.status|lower == "more info required" %}
			<div class="alert__warning">
			{% endif %}

			<div class="verification_request">
				<p class="mb-0"><a href="{{ request.get_absolute_url }}">{{ request.name }}</a> <span class="text-black">|</span> <b>{{ request.status | upper }}</b></p>
				<p class="mt-0 text-neutral-500 text-sm">Submitted: {{ request.created }}</p>
			</div>

			{% if request.status|lower == "more info required" %}
			</div>
			{% endif %}

		{% empty %}

		{% endfor %}


		<h3 class="text-xl pt-10">Your verified providers</h3>

		<p>Verified providers appear in our 
			<a target="_blank" rel="noopener noreferrer" href="https://www.thegreenwebfoundation.org/tools/green-web-dataset/">Green Web Dataset</a> and 
			<a target="_blank" rel="noopener noreferrer" href="https://www.thegreenwebfoundation.org/tools/directory/">Green Web Directory</a>.</p>

		{% if request.user.is_admin %}
			<div class="alert__warning">
				<p>You belong to the admin group, which gives you permission to manage all providers in the database.
				Below is a list of those providers for which a permission has been granted explicitly for you, rather than based on the group membership.</p>
			</div>
		{% endif %}

		{% if object_list.providers %}

			<p>We ask you to ensure listings are kept up to date, and recommend that you review your submitted evidence every 12 months.</p>

			<div class="provider_listings">
				{% for provider in object_list.providers %}
				<div class="provider_listing odd:bg-neutral-100 even:bg-neutral-200 p-3 md:flex md:items-center">
					
					<div class="md:w-1/2">
						<p class="my-0">
							<a href="{% url 'greenweb_admin:accounts_hostingprovider_change' provider.id %}">{{ provider }}</a>
						</p>

						{% if provider.request and provider.request.approved_at %}
						<p class="my-0 text-sm">Last updated: {{ provider.request.approved_at }}</p>
						{% endif %}
					</div>

					<div class="md:w-1/2 text-right">
						{% flag "edit_provider" %}
							{% get_obj_perms request.user for provider as "provider_perms" %}
						
							{% if "manage_provider" in provider_perms %}
								<a href="{% url 'provider_edit' provider.id %}" class="btn btn-white" target="_blank" rel="noopener noreferrer">Update listing</a>
							{% endif %}
						{% endflag %}
					</div>

				</div>
				{% endfor %}
			</div>

		{% else %}
			<p>You don't have any verified listings yet.</p>
			<p><a class="btn mt-0" href="{% url 'before-starting' %}" class="btn">Submit a new verification request</a></p>

		{% endif %}

		<p class="text-neutral-500 mt-8">Looking for the <a href="{% url 'greenweb_admin:index' %}" class="text-neutral-500">old style admin screens</a>?</p>

	</div>

	<div class="lg:grid grid-cols-2 gap-16 my-10">
		<section class="prose border-2 rounded-xl mb-6 lg:mb-0 p-6">
            <h3 class="text-2xl border-b-2">Why should I get verified? </h3>
            <p>Green Web Foundation is on a mission to make the internet fossil-free by 2030. We maintain the world's largest open dataset on websites running on green energy, the <i>Green Domains Dataset</i>.</p>
			<p>Every day, across the globe, more than seven million checks against this dataset are made.</p>
			<p>If you are a hosting provider getting verified with us allow you to show as green, and therefore become visible as a findable and trusted source.</p>
		</section>

		<section class="prose bg-white border-2 rounded-xl p-6">
            <h3 class="text-2xl border-b-2">How can I get verified? </h3>
            <p>To become verified, you need to submit a verification request that provides proof that you use green energy for your services. You can prove this if you are avoiding, reducing, or offsetting emissions.</p>
			<p>Submitting the request will approximately take you 15 minutes and is free of charge.</p>
			<p>Once submitted, we will review your request and get in touch if further evidence is needed. We are a non-profit organisation, so the verification process is independent.</p>
			<p><a href="https://www.thegreenwebfoundation.org/what-you-need-to-get-verified/" target="_blank" rel="noreferrer noopener">More information on how to get verified</a>.</p>
          </section>
        </div>
      </article>

{% endblock %}
