{% extends 'base.html' %}

{% load i18n static humanize widget_tweaks tailwind_filters waffle_tags guardian_tags%}
{% block content %}

<article>
    <div class="prose mx-auto mt-8">
      	<h1 class="text-center leading-10">
			<span class="text-xl">Welcome to our</span><br> 
			Provider portal</h1>

		<h2 class="border-0 my-3 pb-0">Providers overview</h2>

		{% for request in object_list.requests %}
			<h3 class="text-xl pt-8" id="pending">Pending verification</h3>
			
			<a class="no-underline drop-shadow-lg hover:drop-shadow-none" href="{{ request.get_absolute_url }}">
				<div class="verification_request">
					{% if request.status|lower == "more info required" %}
					<div class="alert__warning hover:bg-neutral-100">
					{% endif %}
				
					<p class="mb-0"><span class="verification_request__name text-black font-bold underline">{{ request.name }}</span> <span class="text-black">|</span> <b class="">{{ request.status | upper }}</b></p>
					<p class="verification_request__date mt-0 text-neutral-500 text-sm">Submitted: {{ request.modified }}</p>

					{% if request.status|lower == "more info required" %}
					</div>
					{% endif %}
				</div>
			</a>

		{% empty %}

		{% endfor %}

		<h3 class="text-xl pt-10">Your verified providers</h3>

		<div class="alert__warning">
			<p>Due to limited staff availability, we will not be reviewing & processing verification requests or updates until October 2nd, 2024.</p>
		</div>

		{% if request.user.is_admin %}
			<div class="alert__warning">
				<p>You belong to the admin group, which gives you permission to manage all providers in the database.
				Below is a list of those providers for which a permission has been granted explicitly for you, rather than based on the group membership.</p>
			</div>
		{% endif %}

		<p>Verified providers appear in our 
			<a target="_blank" rel="noopener noreferrer" href="https://www.thegreenwebfoundation.org/tools/green-web-dataset/">Green Web Dataset</a> and 
			<a target="_blank" rel="noopener noreferrer" href="https://www.thegreenwebfoundation.org/tools/directory/">Green Web Directory</a>.</p>


		{% if object_list.providers %}

			<p>We ask you to ensure the listings below are kept up to date, and request you review your submitted evidence every 12 months.</p>

			<div class="provider_listings">
				{% for provider in object_list.providers %}
				<div class="provider_listing odd:bg-neutral-100 even:bg-neutral-200 p-3 md:flex md:items-center border-green border-t-2 last-of-type:border-b-2">
					
					<div class="md:w-1/2">
						<p class="my-0">
							{% if provider.last_approved_verification_req %}
								<a class="font-bold" href="{% url 'provider_request_detail' provider.last_approved_verification_req.id %}">{{ provider }}</a>
							{% else %}
								<span class="font-bold">{{ provider }}</span>
							{% endif %}
						</p>

						{% if provider.request and provider.request.approved_at %}
						<p class="my-0 text-sm">Last updated: {{ provider.request.approved_at }}</p>
						{% endif %}
					</div>

					<div class="md:w-1/2 text-right">
						{% get_obj_perms request.user for provider as "provider_perms" %}
				
						{% if "manage_provider" in provider_perms %}
							<a href="{% url 'provider_edit' provider.id %}" class="btn btn-white text-sm">📝 Update listing</a>
						{% endif %}
					</div>
				</div>
				{% endfor %}
			</div>

			<p><a class="" href="{% url 'before-starting' %}" class="btn">Or create entirely new provider</a></p>


		{% else %}

			{% if object_list.requests|length == 0 %}
				<p>You don't have any verified listings yet.</p>
				<p><a class="btn mt-0" href="{% url 'before-starting' %}">Submit a new verification request</a></p>
			{% else %}
				<p class="">Thank you! We're already working on a verification request you've submitted, listed in the <a href="#pending">pending verification</a> above.</p>
				<p>If you wish, you can <a class="btn" href="{% url 'before-starting' %}">create an entirely new provider verification request</a> to restart the process.</p>
			{% endif %}

		{% endif %}

		{% flag "hide_old_admin" %}
		<h3 class="text-xl pt-10">Other actions</h3>
		
		<p class="text-neutral-500 mt-8"><a href="{% url 'greenweb_admin:password_change' %}" class="text-neutral-500">Update your password</a></p>

		<p class="text-neutral-500 mt-8"><a href="{% url 'green_urls_redirect' %}" class="text-neutral-500">See our list of downloadable green domain dataset snapshots</a></p>

		<p class="text-neutral-500 mt-8"><a href="{% url 'greenweb_admin:check_url' %}" class="text-neutral-500">Try an extended green check for troubleshooting with support staff</a></p>

		{% else %}

		<p class="text-neutral-500 mt-8">Looking for the <a href="{% url 'greenweb_admin:index' %}" class="text-neutral-500">old style admin screens</a>?</p>

		{% endflag %}

	</div>

	<div class="lg:grid grid-cols-2 gap-16 mt-10 lg:my-10">
		<section class="prose bg-white border-2 rounded-xl mb-6 lg:mb-0 p-6">
            <h3 class="text-2xl border-b-2 mt-2 pb-3">How can I get verified? </h3>
            <p>To become verified, you need to submit a verification request that provides proof that you use green energy for your services. You can prove this if you are avoiding, reducing, or offsetting emissions.</p>
			<p>Submitting the request will approximately take you 15 minutes and is free of charge.</p>
			<p>Once submitted, we will review your request and get in touch if further evidence is needed. As we are a non-profit organisation the verification process is independent.</p>
			<p><a href="https://www.thegreenwebfoundation.org/what-you-need-to-get-verified/" target="_blank" rel="noreferrer noopener">More information on how to get verified</a>.</p>
		</section>

		<section class="prose border-2 rounded-xl p-6 bg-black text-white">
            <div class="border-b-2 border-white pb-3 flex items-center">
				<img class="inline border-r-2 border-green my-0 pr-4" width="60px" height="60px" src="{% static 'img/GWF-icon-sunburst--green.svg' %}" alt="The Green Web Foundation logo"/>
           	 	<h3 class="text-2xl inline text-white my-0 ml-4 p-0">Support the mission</h3>
			</div>
            <p>Green Web Foundation is on a mission to accelerate the transition to a fossil-free internet by 2030.</p>
			<p>We maintain the world's largest open dataset of websites running on green energy, the <i>Green Web Dataset</i>.
				Every day, across the globe, more than seven million checks against this dataset are made.</p>
			<p>Donations help keep this work freely available and state-of-the-art.</p>
			<p><a class="btn mt-0 font-bold" href="https://www.thegreenwebfoundation.org/donate/" target="_blank" rel="noopener noreferrer">Donate</a></p>
		</section>
	</div>
</article>

{% endblock %}
