{% extends 'base.html' %}

{% load i18n static humanize widget_tweaks tailwind_filters waffle_tags guardian_tags%}
{% block content %}

  <article>
    <div class="prose mx-auto mt-8">
      	<h1 class="text-center">Provider portal</h1>
      	
		<p>Do you want to become part of the Green Web Dataset as a verified green hosting provider? 
		Do you want to keep your submitted information up-to-date? Get started here.</p>

		<p class="mt-8"><a href="{% url 'before-starting' %}" class="btn">Submit a new verification request</a></p>
		
		{% if object_list.providers %}
		<h3 class="text-xl pt-10">Your verified providers</h3>
		{% if request.user.is_admin %}
		<p>You belong to the admin group, which gives you permission to manage all providers in the database.
			Below is a list of those providers for which a permission has been granted explicitly for you, rather than based on the group membership.
		</p>
		{% endif %}

		{% for provider in object_list.providers %}
			<p>
				<a href="{% url 'greenweb_admin:accounts_hostingprovider_change' provider.id %}">{{ provider }}</a>
			</p>
			{% if provider.request and provider.request.approved_at %}
				<p>Last updated: {{ provider.request.approved_at }}</p>
			{% endif %}
				{% flag "edit_provider" %}
					{% get_obj_perms request.user for provider as "provider_perms" %}
					{% if "manage_provider" in provider_perms %}
					<p>
						<a href="{% url 'provider_edit' provider.id %}" class="btn btn-white" target="_blank" rel="noopener noreferrer">Update listing</a>
					</p>
					{% endif %}
				{% endflag %}
		{% endfor %}

		{% endif %}

		<p class="text-neutral-500 mt-8">Looking for the <a href="{% url 'greenweb_admin:index' %}" class="text-neutral-500">old style admin screens</a>?</p>
		
		<h3 class="text-xl pt-10">Your submitted verification requests</h3>

		{% for request in object_list.requests %}
		  <p><a href="{{ request.get_absolute_url }}">{{ request.name }} | <b>{{ request.status | upper }}</b></a></p>

		{% empty %}
		  <p>You haven't submitted any verification requests yet. <a href="{% url 'before-starting' %}">Get started.</a>

		{% endfor %}


	</div>

	<div class="lg:grid grid-cols-2 gap-16 my-10">
		<section class="prose border-2 rounded-xl mb-6 lg:mb-0 p-6">
            <h3 class="text-2xl border-b-2">Why should I get verified? </h3>
            <p>Green Web Foundation is on a mission to make the internet fossil-free by 2030. We maintain the world's largest open dataset on websites running on green energy, the <i>Green Domains Dataset</i>.</p>
			<p>Every day, across the globe, more than seven million checks against this dataset are made.</p>
			<p>If you are a hosting provider getting verified with us allow you to show as green, and therefore become visible as a findable and trusted source.</p>
		</section>

		<section class="prose bg-white border-2 rounded-xl p-6">
            <h3 class="text-2xl border-b-2">How can I get verified? </h3>
            <p>To become verified, you need to submit a verification request that provides proof that you use green energy for your services. You can prove this if you are avoiding, reducing, or offsetting emissions.</p>
			<p>Submitting the request will approximately take you 15 minutes and is free of charge.</p>
			<p>Once submitted, we will review your request and get in touch if further evidence is needed. We are a non-profit organisation, so the verification process is independent.</p>
			<p><a href="https://www.thegreenwebfoundation.org/what-you-need-to-get-verified/" target="_blank" rel="noreferrer noopener">More information on how to get verified</a>.</p>
          </section>
        </div>
      </article>

{% endblock %}
