{% extends "base.html" %}
{% load i18n static %}




{% block content %}
<div class="container mx-auto prose">

  {% block header_section %}
    <header class="">
      <p class="mb-6 text-sm text-green"><a href="{% url 'provider-domain-detail' object.provider.id object.domain %}" class="text-neutral-500">&lt;Back to linked domain</a></p>

      <h1 class="text-6xl mb-0"><span class="uppercase">Unlink Domain</h1>
      <h2 class="mt-4">
        {{object.domain}}
        <span class="ml-4 px-2 py-1 rounded text-ml border
          {% if object.state == "Approved" %}
          bg-green-100 text-green-800 border-green-800
          {% else %}
          bg-yellow-100 text-yellow-800 border-yellow-800
          {% endif %}
        ">{{object.state}}</span>
      </h2>
      </header>
  {% endblock %}

  <article>
  <div class="prose mx-auto mt-8">
<form method="post">{% csrf_token %}
  <p>Are you sure you want to unlink the domain {{ object.domain }} from the provider {{object.provider.name}}?</p>
    {{ form }}
    <input type="submit" class="btn btn-white text-xs w-full mt-8" value="Unlink the domain">
</form>
  </div>
  </article>

</div>
{% endblock %}
