{% extends "base.html" %}
{% load i18n static %}

{% block content %}
<div class="container mx-auto prose">

  {% block header_section %}
  <section class="mt-10">
    <h1 class="mb-0">Link a doamin with carbon.txt</h1>
  </section>
  {% endblock %}

  <article>
    <div class="prose mx-auto mt-8">
      <p class="italic">(Explanatory copy about requesting a domain)</p>
      <form method="post" action="" class="gwf-form">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="ml-4 btn"><span class="text-xs">Submit</span></button>
      </form>
    </div>
  </article>

</div>
{% endblock %}
