{% extends "base.html" %}
{% load i18n static %}

{% block content %}
<div class="container mx-auto prose">

  {% block header_section %}
  <section class="mt-10">
    <h1 class="mb-0">domains for provider {{provider.name}}</h1>
  </section>
  {% endblock %}


  <article>
    <div class="prose mx-auto mt-8">

      <p class="italic">(explanatory copy here about how having a carbon.txt file allows you to more control how a badge looks, and who shows up as hosting it.)</p>

      <a href="{% url "provider-domain-create" provider.id %}" class="ml-4 btn"><span class="text-xs">link a domain via carbon.txt</span></a>


      <p class="italic">(copy saying "these are the domains you've claimed, and whether the platform has verified their status by finding the domain hash where we expect"</p>


      <div class="">

        <div class="provider_listing p-3 md:items-center ">
          {% for obj in object_list %}
          <div class="md:flex md:items-center border-green border-t-2 last-of-type:border-b-2">
            <div class="py-6 pr-6">
              <p class="my-0">
              <span class="">{{ obj.domain }}</span>
              {% if obj.domain == 'datasets.greenweb.org' %}
              <span class="ml-4 bg-yellow-100 text-yellow-800 px-2 py-1 rounded text-xs border border-yellow-800">pending verification</span>
              {% else %}
              <span class="ml-4 bg-green-100 text-green-800 px-2 py-1 rounded text-xs border border-green-800">verified</span>
              {% endif %}
              </p>
              <p class="my-0 pb-0">
              <span class="text-xs">domain hash: <code>{{ obj.hash }}</code></span>
              </p>
              <p class="my-0" >
              <span class="text-xs">created by {{ obj.created_by }} at {{ obj.created }}</span>
              </p>
            </div>

            <div class="text-right">
              <a href="{% url "provider-domain-detail" provider.id obj.domain %}" class="btn btn-white text-xs">📝 More details</a>
              <a href="#" class="btn btn-white text-xs">❌ Delete</a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </article>

</div>
{% endblock %}

