{% extends "admin/base_site.html" %}
{% load i18n static %}


{% block pretitle %}

<div style="max-width:60rem;">
<h1>Download Green Domain dataset snapshots</h1>

We make daily browseable snapshots of the <em>Green Domain</em> dataset available at <a href="https://datasets.thegreenwebfoundation.org">https://datasets.thegreenwebfoundation.org</a>.</p>

<p>If you need the full dataset, you can download the compressed versions of the <em>Green Domain</em> dataset at the link below.</p>

<p>For more information on these datasets, or for data going further back, please visit our <a href="https://www.thegreenwebfoundation.org/green-web-datasets/">datasets</a> page on the main website.</p>
</div>
{% endblock %}

{% block content %}
    <ul>
    {% for name, url in urls %}
        <li><a href="{{ url }}">{{ name }}</a></li>
    {% endfor %}
    </ul>
{% endblock content %}
