{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block title %}
  Green Web Foundation Member portal: Carbon text preview
{% endblock %}


{% block pretitle %}
  <h1>Preview how your carbon.txt would be parsed</h1>
{% endblock %}

{% block content %}
  <p>This preview tool has been deprecated - you can use the <a href="https://carbontxt.org/tools/validator" target="_blank">new validator tool</a> on the <a href="https://carbontxt.org" target="_blank">carbon.txt site</a> to test and preview your carbon.txt files.</p>
{% endblock content %}
