@tailwind base;

@layer base {
	@font-face {
	  font-family: TWKEverett;
	  font-weight: 400;
	  src: url(../fonts/TWKEverett-Regular-web.woff2) format("woff2");
	}
	@font-face {
	  font-family: TWKEverett;
	  font-weight: 400;
	  font-style: italic;
	  src: url(../fonts/TWKEverett-RegularItalic-web.woff2) format("woff2");
	}
	html {
		@apply text-neutral-700;
	}
	*,
	::before,
	::after {
		@apply border-black;
	}
	a {
		@apply underline;
	}
	a:hover {
		@apply no-underline;
	}
	label {
		@apply text-4xl;
	}
}