{% extends "base.html" %}

{% load widget_tweaks %}
{% load tailwind_filters %}
{% block content %}

<div class="container mx-auto">
  <section class="mx-auto max-w-lg bg-white border-2 border-dark-gray rounded-md  h-100-l mt-8 p-8">

  <h2 class="text-xl text-gray-500">Update your profile, <span class="text-gray-900">{{ user.username }}<span></h2>

    <form class="mt-4"
      action="{% url 'user_edit' user.id %}"
      method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <button
        class="bg-green-500 p-4 mt-4 rounded"
        type="submit">
        Save changes.
      </button>
    </form>

  </section>
</div>


{% endblock %}


