{% extends "provider_portal/carbon_txt/base.html" %}
{% load i18n static %}
{% block content_section %}
{% include "provider_portal/carbon_txt/partials/steps.html" with active_step=3 %}
{% include "provider_portal/carbon_txt/partials/primary_domain.html" with provider=provider show_check_button=True %}
<h3>Configure carbon.txt sharing</h3>
{% include "provider_portal/carbon_txt/partials/secondary_domains.html" with provider=provider %}
{% endblock content_section %}

{% block submit_button_text %}
I have set up carbon.txt sharing
{% endblock submit_button_text %}
