[plugins]
endpoint = awscli_plugin_endpoint

[default]
# for scaleway can be nl-ams (Amsterdam), fr-par (Paris), or pl-waw (Warsaw)
region = nl-ams
s3 =
  endpoint_url = https://s3.nl-ams.scw.cloud
  signature_version = s3v4
  max_concurrent_requests = 100
  max_queue_size = 1000
  multipart_threshold = 50MB
  # Edit the multipart_chunksize value according to the file sizes that you want to upload.
  # The present configuration allows to upload files up to 10 GB (1000 requests * 10MB).
  # For example setting it to 5GB allows you to upload files up to 5TB.
  multipart_chunksize = 10MB
s3api =
  endpoint_url = https://s3.nl-ams.scw.cloud
