[default]
# copy file this to `.aws.credentials` and add the same credentials as are defined for
# OBJECT_STORAGE_ACCESS_KEY_ID , and OBJECT_STORAGE_SECRET_ACCESS_KEY
# then for the AWS_SHARED_CREDENTIALS_FILE environment variable
# use the the absolute file path for .aws.credentials
aws_access_key_id = xxxxxxxxxxxxxxxxxxxx
aws_secret_access_key = xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
