# set the port to listen on
PORT=9000

SECRET_KEY='some-key'
DATABASE_URL=mysql://USERNAME:PASSWORD@localhost:33060/DATABASE_NAME
MAILGUN_API_KEY="50 characters long-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

# used to stop defaulting to debug
DJANGO_SETTINGS_MODULE='path.to.settings.module'