# set the port to listen on
PORT=9000


# used by django
SECRET_KEY='some-key'
DATABASE_URL=mysql://USERNAME:PASSWORD@localhost:33060/DATABASE_NAME
MAILGUN_API_KEY="50 characters long-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

# used to stop defaulting to debug
DJANGO_SETTINGS_MODULE='path.to.settings.module'

# used for reporting errors
SENTRY_DSN="https://xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx@sentry.io/1234567"
SENTRY_AUTH_TOKEN="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
SENTRY_ORG="my-org"

# for using with dramatiq and RabbitMQ
RABBITMQ_URL=amqp://USERNAME:PASSWORD@localhost:5672/


# used for object storage - not alway necessary for local development
DOMAIN_SNAPSHOT_BUCKET = "your-bucket-name"
OBJECT_STORAGE_ENDPOINT = "https://aws.compatible.endpoint"
OBJECT_STORAGE_REGION = "region-name"
OBJECT_STORAGE_ACCESS_KEY_ID = "xxxxxxxxxxxxxxxxxxxx"
OBJECT_STORAGE_SECRET_ACCESS_KEY = "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
OBJECT_STORAGE_BUCKET_NAME = "another-bucket-name"
