# set the port to listen on
PORT=9000


# used by django
SECRET_KEY='some-key'
DATABASE_URL=mysql://USERNAME:PASSWORD@localhost:33060/DATABASE_NAME
DATABASE_URL_READ_ONLY=mysql://USERNAME:PASSWORD@localhost:33060/DATABASE_NAME
EXPLORER_TOKEN="some-token"
MAILGUN_API_KEY="50 characters long-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

# used to stop defaulting to debug
DJANGO_SETTINGS_MODULE='path.to.settings.module'

RABBITMQ_URL="amqp://USERNAME:PASSWORD@HOST:5672/"

# used for object storage - not alway necessary for local development
DOMAIN_SNAPSHOT_BUCKET = "your-bucket-name"
OBJECT_STORAGE_ENDPOINT = "https://aws.compatible.endpoint"
OBJECT_STORAGE_REGION = "region-name"
OBJECT_STORAGE_ACCESS_KEY_ID = "xxxxxxxxxxxxxxxxxxxx"
OBJECT_STORAGE_SECRET_ACCESS_KEY = "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
OBJECT_STORAGE_BUCKET_NAME = "another-bucket-name"

# used for geolocation of IP addresses
MAXMIND_USER_ID=123456
MAXMIND_LICENCE_KEY="xxxxxxxxxxxxxxxx"

# Used to import ip ranges for large providers automatically
MICROSOFT_PROVIDER_ID="xxx"
MICROSOFT_LOCAL_FILE_DIRECTORY="xxx"

EQUINIX_PROVIDER_ID="xxx"
EQUINIX_REMOTE_API_ENDPOINT="xxx"

AMAZON_PROVIDER_ID="xxx"
AMAZON_REMOTE_API_ENDPOINT="xxx"

CLOUDFLARE_PROVIDER_ID = "xxx"
CLOUDFLARE_REMOTE_API_ENDPOINT_IPV4 = "xxx"
CLOUDFLARE_REMOTE_API_ENDPOINT_IPV6 = "xxx"

# Used to tune performance of carbon.txt lookups
CARBON_TXT_RESOLUTION_TIMEOUT="1.0"
CARBON_TXT_CACHE_TTL="86400" # 24 * 60 * 60 seconds = 1 day


# Used to automatically create trello cards for new verification requests
TRELLO_REGISTRATION_EMAIL_TO_BOARD_ADDRESS=""

# Used in production for error reporting with Sentry
# SENTRY_DSN=""
# SENTRY_ENVIRONMENT=""
# SENTRY_RELEASE=""
# SENTRY_SAMPLE_RATE=0

# Uncomment this to set an explicit API URL for the api-docs page
# API_URL = "https://domain.starting-with-https.com"


# Uncomment for restoring snapshots
# OBJECT_STORAGE_BACKUP_BUCKET=""
# OBJECT_STORAGE_BACKUP_KEY_PATH=""
