[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
django-debug-toolbar = "*"
pylint = "*"
pylint-django = "*"
coverage = "*"
flake8 = "*"

[packages]
django = "<3.0"
django-environ = "*"
django-extensions = "*"
django-model-utils = "*"
psycopg2-binary = "*"
gunicorn = "*"
mysqlclient = "==1.4.4"

[requires]
python_version = "3.6"
