[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
django-debug-toolbar = "*"
pylint = "*"
pylint-django = "*"
coverage = "*"
codecov = "*"
flake8 = "*"
ipython = "*"
ipdb = "*"
# needed because 0.18 breaks tab completion
jedi = "==0.17.2"
mycli = "*"
werkzeug = "*"
pytest = "*"
pytest-django = "*"
pytest-watch = "*"
pytest-cov = "*"

[packages]
# psycopg2-binary = "*", not needed for now.
django = {extras = ["bcrypt"],version = "<3.0"}
django-anymail = {extras = ["mailgun"],version = "==7.0.0"}
django-choices = "==1.7.0"
django-countries = "==5.5"
django-environ = "==0.4.5"
django-extensions = "==2.2.5"
django-model-utils = "==3.2.0"
django-mysql = "*"
django-registration = "==3.0.1"
django-unixdatetimefield = "==1.0.3"
gunicorn = "==19.9.0"
mysqlclient = "==1.4.4"
requests = "==2.22.0"
whitenoise = {extras = ["brotli"],version = "==4.1.4"}
db-to-sqlite = "*"
sqlite-utils = "*"
google-cloud-storage = "*"
sentry-sdk = "*"
dramatiq = {extras = ["rabbitmq"], version = "*"}
django-dramatiq = "*"
phpserialize = "*"
