{% load static %}

<div class="announce-banner">
    <p>We're working on a new home for our API docs! Check it out at <a
            href="https://developers.thegreenwebfoundation.org/#apis"
            target="_blank">developers.thegreenwebfoundation.org</a>.</p>
</div>

<style>
    div.announce-banner {
        background-color: #466D22;
        color: #CECCCA;
        width: 100%;
        padding: 0.5rem 1rem;
        text-align: center;
        font-family: 'Lato', sans-serif;
        font-size: 1.15rem;
    }

    div.announce-banner>p {
        max-width: 60ch;
        margin-inline: auto;
        line-height: 1.525;
    }

    div.announce-banner a,
    div.announce-banner a:visited {
        color: inherit;
        text-decoration: underline;
        font-weight: 600;
        letter-spacing: 0.1rem;
    }

    div.announce-banner a:hover,
    div.announce-banner a:focus {
        color: inherit;
        text-decoration: none;
    }
</style>