/* 0.  GENERAL CUSTOM FORM STYLES */
/* 0.1 BASE SIZED TEXT FIELDS     */

/* Styles for forms that are laid out as tables */
/* 1. GENERAL gwf-form           */
/* 1. GENERAL form_table         */
/* 2. NETWORK FOOTPRINT TABLE    */
/* 3. CONSENT TABLE              */

/* Other kinds of form layout. */
/* 21. EVIDENCE FORM             */
/* 22. DIRECTORY FORMS           */



/* 0. GENERAL CUSTOM FORM STYLES */
.errorlist {
	@apply text-purple;
}
.errorlist + input,
.errorlist + select {
	@apply border-purple;
}
.errorlist li {
	@apply mb-4;
}
.errorlist li:last-of-type {
	@apply mb-0;
}

.helptext {
	@apply text-base;
}

/* 0.1 BASE SIZED TEXT FIELDS     */
.form__basetext-fields .form__row {
	@apply my-6;
}
.form__basetext-fields label {
	@apply text-base;
	@apply font-bold;
}

.form__basetext-fields input[type="text"],
.form__basetext-fields input[type="password"] {
	@apply w-full;
}

/* **************************** */
/* 1. GENERAL gwf-form          */
.gwf-form {
	@apply my-8;	
}
.gwf-form > div {
	@apply flex;
	@apply flex-col;
	@apply items-start;
	@apply py-8;
	@apply border-b-0;
}
.gwf-form > div > * {
	@apply w-full;
}
/* .form__table td {
	@apply flex;
	@apply flex-col;
	@apply pl-0;
} */
.gwf-form label {
	@apply block;
	@apply text-left;
}
.gwf-form .helptext {
	/* @apply order-first; */
	@apply pb-6;
}
.gwf-form .nav-buttons {
	@apply block;
	@apply py-0;
}
.gwf-form .nav-buttons > * {
	@apply w-auto;
}
.gwf-form ul {
	@apply my-0;
	@apply list-none;
	@apply pl-0;
}
.gwf-form li {
	@apply pl-0;
}
.gwf-form fieldset {
	@apply flex;
	@apply flex-col;
	@apply items-start;
}
.gwf-form fieldset .errorlist {
	@apply -order-2;
}

/* table[class^="form__table--"] tbody {
	@apply flex;
	@apply gap-8;
}
table[class^="form__table--"] tbody > * {
	@apply py-0;
	@apply w-1/5;
}
/* Typically within the th element */
/*table[class^="form__table--"] label {
	@apply text-sm;
	@apply uppercase;
	@apply font-normal;
} */

/* **************************** */
/* 1. GENERAL form_table        */

/* .form__table {
	@apply my-8;
}
.form__table tr {
	@apply flex;
	@apply flex-col;
	@apply items-start;
	@apply py-8;
	@apply border-b-0;
}
.form__table tr > * {
	@apply w-full;
} */

/* .form__table td {
	@apply flex;
	@apply flex-col;
	@apply pl-0;
}
.form__table label {
	@apply block;
	@apply text-left;
} */
/* .form__table span.helptext {
	@apply order-first;
	@apply pb-6;
} */
/* .form__table ul {
	@apply my-0;
	@apply list-none;
	@apply pl-0;
} */
/* .form__table .errorlist {
	@apply order-2;
} */

/* table[class^="form__table--"] tbody {
	@apply flex;
	@apply gap-8;
}
table[class^="form__table--"] tbody > * {
	@apply py-0;
	@apply w-1/5;
}
/* Typically within the th element */
/*table[class^="form__table--"] label {
	@apply text-sm;
	@apply uppercase;
	@apply font-normal;
} */


/* 2. NETWORK FOOTPRINT TABLE   */
.form__table--network tbody {
	@apply flex;
	@apply flex-wrap;
	@apply gap-x-8;
	@apply xl:flex-nowrap;
}
.form__table--network tbody > tr {
	@apply w-auto;
	@apply border-0;
}
.form__table--network tbody th {
	@apply w-16;
}
.form__table--network tbody td {
	@apply w-52;
}
.form__table--network label {
	@apply mb-0;
	@apply pb-0;
	@apply text-med;
}

/* 3. CONSENT TABLE               */
.form__table--consent tr {
	@apply relative;
}
.form__table--consent tr th {
	@apply ml-16;
}
.form__table--consent tr td input {
	@apply absolute;
	@apply top-10;
	width: 2rem;
	height: 2rem;
	@apply border-2;
}
.form__table--consent .helptext {
	@apply ml-16;
}


/* **************************** */

/* 21. EVIDENCE FORM              */
.form__evidence .convenient-form {
	@apply md:flex;
	@apply flex-wrap;
}
.form__evidence .convenient-form > * {
	@apply w-full;
	@apply px-8;
	@apply pt-6;
}
.form__evidence .form__evidence--field-type,
.form__evidence .form__evidence--field-title,
.form__evidence .form__evidence--field-link,
.form__evidence .form__evidence--field-file {
	@apply md:w-1/2;
}
.form__evidence input[type="button"] {
	@apply w-auto;
}
.form__evidence--field .helptext {
	@apply mb-4;
}
.form__evidence--field select,
.form__evidence--field input[type="text"],
.form__evidence--field input[type="url"] {
	@apply w-full;
}
.form__evidence--field label {
	@apply sr-only;
	@apply text-base;
}
.form__evidence--field-public {
	@apply flex;
	@apply items-center;
}
.form__evidence--field-public .helptext {
	@apply mb-0;
}
.form__evidence--field-public input[type="checkbox"] {
	@apply order-first;
	@apply mb-0;
}


/* 22. DIRECTORY FORMS           */
.form__directory label {
	@apply block;
	@apply text-white;
	@apply text-base;
}
.form__directory select {
	@apply text-white;
	@apply sm:text-2xl;
	@apply bg-neutral-900;
	@apply border-green;
	@apply h-16;

	background-image:
		linear-gradient(45deg, transparent 50%, white 50%),
    	linear-gradient(135deg, white 50%, transparent 50%);
	background-position:
		calc(100% - 24px) calc(1em + 6px),
		calc(100% - 16px) calc(1em + 6px);
	background-size:
		8px 8px,
		8px 8px;
	background-repeat: no-repeat;
}
.form__directory select:focus {
	/* @apply border-neutral-400; */
}
.form__directory p {
	@apply lg:col-span-2;
}
