<p>Hello</p>
<p>
Thank you for taking the time to link the domain {{domain}} for {{ provider.name }} in the Green Web Dataset.
What happens next?
</p><p>
We review new linked domains on Tuesday each week. Once we have reviewed the request, we will contact you by email to let you know that it is approved, or that we need more information from you.
</p><p>
If you have further questions, please contact <a href="mailto:support@thegreenwebfoundation.org">support@thegreenwebfoundation.org</a>.
</p><p>
Many thanks,
</p><p>
Green Web Foundation
</p>
