<p>Dear {{ username }},</p>

<p>Thank you for taking the time to submit {{ org_name }} for verification to the Green Web database. It's great to know that you are committed to providing green services to your customers.</p>

<p>The information you provided has been checked and approved.</p>

<p>Any checks against sites hosted by you will now show as green on the basis of the ASN/IP ranges you provided. Your customers can download a Green Web Badge on The Green Web Foundation homepage: <a href="https://www.thegreenwebfoundation.org/">https://www.thegreenwebfoundation.org/</a> for their domain to show to the world that they are hosted green by you.</p>

<p>If you have publicly shared links to documents or websites to support any sustainability claims, these will also be available in the Green Web directory: <a href="https://www.thegreenwebfoundation.org/directory/">https://www.thegreenwebfoundation.org/directory/</a>.</p>

<p>If there are any changes in your ASN or IP ranges for your green domains in the future, you are required to update your listing accordingly. Our Green Web Checker is only able to recognize the sustainably hosted domains of you and your customers when they resolve to an IP address that has been entered in the Green Web database.</p>

<p>
You can review and update your listing yourself!
<br>Please go to: <a href="{{ domain }}/admin/">{{ domain }}/admin/</a>
<br>Your username is: {{ username }}
</p>

<p>You will find your company in the category "Hosting providers".</p>

<p>
Countries: {{ countries }}
<br>For now, {{ org_name }} is marked as a provider in {{ first_country }} only (where your headquarters are). At the moment, we are developing our database to allow for multiple locations. Once that feature is up and running, we will add the other countries and let you know if we have further questions.
</p>

<p>If you have any further questions, please let us know. Thanks for your help in keeping the Green Web database up to date!</p>

<p>
Best regards,
<br>The Green Web Foundation support team
</p>