<p>Hello</p>

<p>Thank you for taking the time to complete a verification request for { company_name } in the Green Web Database.</p>

<p>You can see your submitted request at the link below:</p>

<p><a href="{{ link_to_verification_request }}"">{{ link_to_verification_request }}</a></p>

<p>Your request is currently: {{ status }}</p>

<h4>What happens next?</h4>

<p>Assuming your request contains all the information we need to verify your organisation, you can expect to hear from us again, notifying you that you have been verified and how to tell others.</p>

<p>We normally get back to people within 48 hours.</p>

<p>If you have further questions, please contact support@thegreenwebfoundation.org, and please include the above link to your request.</p>

<p>Many thanks,</p>

<p>The Green Web Foundation Support Team</p>
