{% if provider %}
    {% comment %} Approved an update to an existing provider {% endcomment %}
    <p>Dear {{ provider.name }},</p>
    <p>Thank you for taking the time to update your listing in the Green Web Dataset.</p>
    <p>The updated information you provided has been reviewed and approved.</p>
    <p>
        If you need to update {{ provider.name }} again, you can do so by logging in to the <a href="https://admin.thegreenwebfoundation.org/provider-portal/">Provider Portal</a>.
    </p>
    <p>Thanks for your help in keeping the Green Web Dataset up to date!</p>
    <p>
        Best regards,
        <br>
        Green Web Foundation
    </p>
{% else %}
    {% comment %} Approved an update to a new verification request {% endcomment %}
    <p>Dear {{ org_name }},</p>
    <p>
        Thank you for taking the time to submit a verification request to the Green Web Dataset. <strong>The information you provided has been checked and approved.</strong>
    </p>
    <p>Any <a href="https://www.thegreenwebfoundation.org/green-web-check/">Green Web Checks</a> for sites hosted on the IP ranges/AS numbers you provided will now be shown as green.</p>
    <h2>Updating your listing</h2>
    <p>Our platform is self-service meaning that you can update your listing yourself. To update your listing:</p>
    <ol>
        <li>Go to our <a href="https://admin.thegreenwebfoundation.org/provider-portal/">Provider Portal</a> and login.</li>
        <li>You will be shown your verified providers. Find the one you want to change, and click the “Edit” link.</li>
        <li>Complete the form, making any changes you need.</li>
        <li>Once you are done, submit the updates.</li>
        <li>Any changes made will need to be manually verified by us.</li>
        <li>You will receive an email once your changes have been approved.</li>
    </ol>
    <h2>Yearly reverification</h2>
    <p>In order to remain as an active verified green host in our dataset, you need to update/reconfirm your evidence on a yearly basis. By doing this, you demonstrate to us that you still meet the criteria for being a verified hosting provider.</p>
    <p>Learn more about reverification in this FAQ: <a href="https://www.thegreenwebfoundation.org/support/what-is-reverification-for-hosting-providers/">What is reverification for hosting providers?</a></p>
    <h2>Useful links</h2>
    <ul>
        <li><a href="https://admin.thegreenwebfoundation.org/provider-portal/">Provider Portal</a></li>
        <li><a href="https://www.thegreenwebfoundation.org/tools/directory/">Hosting Directory</a></li>
        <li><a href="https://www.thegreenwebfoundation.org/green-web-check/">Green Web Check</a></li>
        <li><a href="https://www.thegreenwebfoundation.org/support/">FAQs</a></li>
        <li><a href="https://www.thegreenwebfoundation.org/support-form/">Contact Support</a></li>
    </ul>
    <h2>Support our work</h2>
    <p>The work we do to maintain the Green Web Dataset, Hosting Directory, and Green Web Check relies on grant funding and donations.</p>
    <p>Help us keep this work state of the art by <a href="https://www.thegreenwebfoundation.org/donate/">supporting our work</a>.</p>
    <p>
        Thanks and regards,<br>
        Green Web Foundation team
    </p>
{% endif %}
