{% load admin_helpers %}


<fieldset class="module aligned {{ fieldset.classes }}">
    {% if fieldset.name %}<h2>{{ fieldset.name }}</h2>{% endif %}
    {% if fieldset.description %}
        <div class="description">{{ fieldset.description|safe }}</div>
    {% endif %}
    {% for line in fieldset %}
        <div class="form-row{% if line.fields|length_is:'1' and line.errors %} errors{% endif %}{% if not line.has_visible_field %} hidden{% endif %}{% for field in line %}{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% endfor %}">
            {% if line.fields|length_is:'1' %}{{ line.errors }}{% endif %}
            {% for field in line %}
                <div{% if not line.fields|length_is:'1' %} class="fieldBox{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% if not field.is_readonly and field.errors %} errors{% endif %}{% if field.field.is_hidden %} hidden{% endif %}"{% elif field.is_checkbox %} class="checkbox-row"{% endif %}>
                    {% if not line.fields|length_is:'1' and not field.is_readonly %}{{ field.errors }}{% endif %}
                    {% if field.is_checkbox %}
                        {{ field.field }}{{ field.label_tag }}
                    {% else %}
                        {{ field.label_tag }}
                        {% if field.is_readonly %}
                            <div class="readonly">{{ field.contents }}</div>
                        {% else %}

                            {{ field.field }}

                            {% if field.field.name == 'website' %}

                              <style>
                              .extra_url {
                                margin: 1rem;
                              }
                              </style>

                                <a
                                  class="extra_url"
                                  target="_blank"
                                  href="{{ field.field.value|make_url }}">

                                  Visit site
                                </a>
                                {% if request.user|has_group:"admin" %}
                                    {% link_to_ripe_stat field.field.value %}
                                {% endif  %}


                            {% endif %}

                        {% endif %}
                    {% endif %}
                    {% if field.field.help_text %}
                        <div class="help">{{ field.field.help_text|safe }}</div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}

</fieldset>
{% if fieldset.name == "Datacenter info" %}
    
    {% comment %} 
        We have too many providers to list. Do not try to list them all. 
    {% endcomment %}
    {% if associated_providers_count > 1000 %}
        <h2>Associated Hosting Providers</h2>    
        <p>There are too many hosting providers using this datacentre to display.</p>
        <p>If you need to see the full list, please 
            <a href="https://www.thegreenwebfoundation.org/support-form/">
            contact support.
            </a>
        </p>
    {% endif %}

    {% comment %} 
        We have some providers listed in this DC, show them.
    {% endcomment %}
    {% if associated_providers_count < 1000 and associated_providers %}
    <h2>Hosting Providers using this datacenter</h2>
    
    <ul>
    {% for provider in associated_providers %}
        <li>
            {{ provider.name }}
        </li>
    {% endfor %}
    </ul>
    {% endif %}
    <p>If you need to change this, this please 
        <a href="https://www.thegreenwebfoundation.org/support-form/">
        contact support.
        </a>
    </p>
    
    {% comment %}
        We have no datacentres listed at all, say so.
    {% endcomment %}
    {% if associated_providers_count == 0 %}
        <h2>Hosting Providers using this datacenter</h2>
        <p>No hosting providers registered in our system appear to be using this datacenter
        </p>
        <p>If you need to change this, this please 
            <a href="https://www.thegreenwebfoundation.org/support-form/">
            contact support.
        </a>
    </p>
    {% endif %}
    
    <hr / style="margin-bottom:1rem;">
{% endif %}
