{% extends 'base.html' %}

{% load i18n static humanize widget_tweaks tailwind_filters waffle_tags %}
{% block content %}
<div class="contaner mx-auto prose">
    {% block header_section %}
      <header class="">
        {% block back_link %}
          <p class="mb-6 text-sm text-green"><a href="{% url 'dashboard' %}" class="text-neutral-500">&lt; Back to the Green Web portal</a></p>
        {% endblock back_link %}


        <h1 class="text-center mb-1 mt-6 pt-3">
          Your provider listings
        </h1>

      </header>
    {% endblock %}
<article>
    <div class="prose mx-auto mt-8">
			<div class="alert__warning mt-3 mb-3" id="upstream-providers-disclosure">
        <p>
            Our criteria for verifying hosting providers will be updated on <strong>October 1, 2026</strong>. The updated criteria will apply to all new verification and reverification requests after that date.
			</p>
<p class="mb-0">Learn more <a href="https://www.thegreenwebfoundation.org/news/request-for-comment-updates-to-our-verification-criteria-for-data-centers-and-hosting-providers/">about the updates</a> in our blog post. View the <a href="https://www.thegreenwebfoundation.org/tools/green-web-dataset/get-verified/disclosures/">updated criteria in full</a> on our website.</p>
    </div>

    {% if object_list.requests %}
		  <h3 class="text-xl pt-8" id="pending">Pending verification</h3>
    {% endif %}

		{% for request in object_list.requests %}

			<a class="no-underline drop-shadow-lg hover:drop-shadow-none" href="{{ request.get_absolute_url }}">
				<div class="verification_request">
					{% if request.status|lower == "more info required" %}
					<div class="alert__warning hover:bg-neutral-100">
					{% endif %}

					<p class="mb-0"><span class="verification_request__name text-black font-bold underline">{{ request.name }}</span> <span class="text-black">|</span> <b class="">{{ request.status | upper }}</b></p>
					<p class="verification_request__date mt-0 text-neutral-500 text-sm">Submitted: {{ request.modified }}</p>

					{% if request.status|lower == "more info required" %}
					</div>
					{% endif %}
				</div>
			</a>

		{% empty %}

		{% endfor %}

		<h3 class="text-xl pt-10">Your verified providers</h3>

    {% if request.user.is_admin %}
			<div class="alert__warning">
				<p>You belong to the admin group, which gives you permission to manage all providers in the database.
				Below is a list of those providers for which a permission has been granted explicitly for you, rather than based on the group membership.</p>
			</div>
		{% endif %}


		<p>Verified providers appear in our
			<a target="_blank" rel="noopener noreferrer" href="https://www.thegreenwebfoundation.org/tools/green-web-dataset/">Green Web Dataset</a> and
			<a target="_blank" rel="noopener noreferrer" href="https://www.thegreenwebfoundation.org/tools/directory/">Green Web Directory</a>.</p>


		{% if object_list.providers %}

			<p>We ask you to ensure the listings below are kept up to date, and request you review your submitted evidence every 12 months.</p>

			<div class="provider_listings">
				{% for provider in object_list.providers %}
          {% include "provider_portal/partials/provider_listing.html" with provider=provider request=request %}
				{% endfor %}
			</div>

			<p><a class="" href="{% url 'before-starting' %}" class="btn">Or create entirely new provider</a></p>


		{% else %}

			{% if object_list.requests|length == 0 %}
				<p>You don't have any verified listings yet.</p>
				<p><a class="btn mt-0" href="{% url 'before-starting' %}">Submit a new verification request</a></p>
			{% else %}
				<p class="">Thank you! We're already working on a verification request you've submitted, listed in the <a href="#pending">pending verification</a> above.</p>
				<p>If you wish, you can <a class="btn" href="{% url 'before-starting' %}">create an entirely new provider verification request</a> to restart the process.</p>
			{% endif %}

		{% endif %}

  {% flag "api_keys" %}
      <div class="mt-16">
        {% include "provider_portal/partials/how_do_i_get_verified_block.html" %}
      </div>
  {% else %}
    {% flag "hide_old_admin" %}
      <h3 class="text-xl pt-10">Other actions</h3>

      <p class="text-neutral-500 mt-8"><a href="{% url 'greenweb_admin:password_change' %}" class="text-neutral-500">Update your password</a></p>

      <p class="text-neutral-500 mt-8"><a href="{% url 'green_urls_redirect' %}" class="text-neutral-500">See our list of downloadable green domain dataset snapshots</a></p>

      <p class="text-neutral-500 mt-8"><a href="{% url 'greenweb_admin:check_url' %}" class="text-neutral-500">Try an extended green check for troubleshooting with support staff</a></p>

      {% else %}

      <p class="text-neutral-500 mt-8">Looking for the <a href="{% url 'greenweb_admin:index' %}" class="text-neutral-500">old style admin screens</a>?</p>

      {% endflag %}
      </div>
      </div>
	    <div class="lg:grid grid-cols-2 gap-16 mt-16 lg:my-16 items-stretch">
        {% include "provider_portal/partials/how_do_i_get_verified_block.html" %}
        {% include "provider_portal/partials/donate_block.html" %}
    {% endflag %}



	</div>
</article>
</div>
{% endblock %}
