{% extends 'base.html' %}

{% load i18n static humanize widget_tweaks tailwind_filters %}

{% block content %}

<article class="prose">
	<h1>Register your organisation</h1>

	<p>As a small and independent non-profit organisation, we've been maintaining the world's largest open dataset on verified green hosting providers, <strong>the Green Domains dataset</strong>, since 2012. Every day, across the globe, around seven million checks against it are made using our <a href="https://developers.thegreenwebfoundation.org/api/greencheck/v3/check-single-domain/" target="_blank" rel="noopener noreferrer">Green Web Check API</a> and <a href="https://www.thegreenwebfoundation.org/green-web-check/" target="_blank" rel="noopener noreferrer">Green Web Check</a> tools.<p>
	
	<h2 class="text-2xl">How can my organisation be included in the dataset?</h2>
	<p>Hosting providers can submit a free verification request to us to <a href="https://www.thegreenwebfoundation.org/what-you-need-to-register/" target="_blank" rel="noopener noreferrer">demonstrate they are green</a>. All verified hosting providers are included in the Green Domains dataset for free.</p>
	<p>Once verified, hosting providers can further support our mission to green the internet by 2030, by paying a modest fee to be included in our <a href="https://www.thegreenwebfoundation.org/directory/" target="_blank" rel="noopener noreferrer">Green Hosting Directory</a>.</p>
	<p>Whichever route you choose, the starting point is the same - use our verification request form.

	<h3 class="text-xl pt-10">Submit verfication request</h3>
	<p class="mb-10">Before starting the verification process, we recommend reading our guide <a href="https://www.thegreenwebfoundation.org/what-you-need-to-register/" target="_blank" rel="noopener noreferrer">What you need to register</a> and preparing your evidence in advance.</p>
	<p><a href="/requests/new" class="btn">Submit verification request</a></p>

    {% for request in object_list %}
		<h3 class="text-xl pt-10">Your submitted requests</h3>
        <p>
            <a href="{{ request.get_absolute_url }}">{{ request.name }} | <b>{{ request.status | upper }}</b></a>
		</p>

        {% empty %}
	
    {% endfor %}

	<h3 class="text-xl pt-10">Need help?</h3>
	<p>Our friendly support team are on hand to clarify anything you're not sure about.</p>
	<p><a href="https://www.thegreenwebfoundation.org/support-form/" target="_blank" rel="noopener noreferrer">Contact our support team</a>.</p>

</article>

{% endblock %}
