{% extends 'base.html' %}

{% load i18n static humanize widget_tweaks tailwind_filters %}

{% block content %}

<div class="container mx-auto">

<article class="prose">

    <ul>
        <h1 >
            Your requests
        </h1>
        {% for request in object_list %}
        <li>
            <a href="{{ request.get_absolute_url }}">{{ request.name }} | <b>{{ request.status | upper }}</b></a>
        </li>
        {% empty %}
        <li>
            You haven't submitted requests.
        </li>
        <li>
            <button class="btn">Add one, yo</button>
        </li>

        {% endfor %}
    </ul>
</article>
</div>
{% endblock %}
