  <div class="annoucement-banner bg-yellow-200 border-b-2">


    <div class="container mx-auto px-2 sm-px-4 bg-yellow-200">


      <p class="py-6 text-center">🚧 <strong>This domain-linking functionality </strong> is still in beta, if you need support or want to give feedback, please <a href="https://www.thegreenwebfoundation.org/support/using-carbon-txt-to-improve-green-web-check-results/" target="_blank">check the FAQ</a>, or <a href="mailto:support@greenweb.org" target="_blank">send us a message</a>! 🚧</p>


    </div>


  </div>
