{% load static %}
<div class="mt-2">
  <div class="flex prose">
    <img class="my-0 mr-4" width="40" height="40" src="{% static 'img/carbontxt-logo.svg' %}" alt="carbon.txt logo"/>
    <p class="mt-0">
      Your carbon.txt file has been Your carbon.txt has been succesfully uploaded and verified. <a class="no-underline" href="https://carbontxt.org/tools/validator?domain={{provider.carbon_txt.domain}}&auto=true" target="_blank">
			  <span class="underline hover:no-underline">See details in the carbon.txt validator tool</span></a>
      <img class="utility-icon external-link-icon" width="16px" height="16px" src="{% static 'img/icon-external-link.svg' %}" alt=""/>.
    </p>
  </div>
</div>
