<h3>Your primary domain</h3>
<div class="flex justify-between items-start">
  <div>
  <p class="mt-0"><a href="https://{{provider.carbon_txt.domain}}" target="_blank">{{provider.carbon_txt.domain}}</a><br /><span class="text-neutral-500 text-sm">Last updated: {{provider.carbon_txt.modified}}</span></p>
  </div>
  {% if show_check_button %}
    <div>
      <a target="_blank" href="https://www.thegreenwebfoundation.org/green-web-check/?url={{provider.carbon_txt.domain}}&nocache=1" class="btn mt-0"><span class="text-xs">Check</span></a>
    </div>
  {% endif %}
  {% if show_edit_button %}
    <div>
      <a href="?setup_domain=1" class="btn mt-0"><span class="text-xs">Edit</span></a>
    </div>
  {% endif %}
</div>
