{% load i18n static %}
  {% if active_step == 1 %}
  <p><strong>Problems with your Green Web Check results showing the wrong hosting provider name?</strong>
    This solution using carbon.txt is for you. It has three key steps:</p>
  {% elif active_step == 2 %}
    <p><strong>Your primary domain has been set succesfully.</strong>
    Now create and upload your carbon.txt file.</p>
  {% elif active_step == 3 %}
    <p><strong>We've succesfully validated your carbon.txt file.</strong>
    The website at your primary domain should now show the correct provider in the Green Web Check.</p>
    <p>Finally, we'll configure your customer domains to point to the carbon.txt you just created, so that they are also correctly attributed to you.</p>
  {% else %}
      <div class="flex align-start">

        <img class="mb-0 mr-4 mt-5" width="40" height="40" src="{% static 'img/carbontxt-logo.svg' %}" alt="carbon.txt logo"/>
      <p class="mb-0"><strong>Congratulations, you've successfully set up carbon.txt!</strong>
        Your domains should now show the correct provider name in Green Web Check.</p>
      </div>
  {% endif %}

  <ol>
    <li class="{% if active_step == 1 %}font-bold{% else %}text-neutral-500{% endif %}">
      {% if active_step == 1 %}👉 {% elif active_step > 1 %}✅ {% endif %}
      <span class="{%if active_step > 1 %}line-through{% endif %}">Choose your primary domain.</span>
    </li>
    <li class="{% if active_step == 2 %}font-bold{% else %}text-neutral-500{% endif %}">
      {% if active_step == 2 %}👉 {% elif active_step > 2 %}✅ {% endif %}
      <span class="{%if active_step > 2 %}line-through{% endif %}">Create your carbon.txt file.</span>
    </li>
    <li class="{% if active_step == 3 %}font-bold{% else %}text-neutral-500{% endif %}">
      {% if active_step == 3 %}👉 {% elif active_step > 3 %}✅ {% endif %}
      <span class="{%if active_step > 3 %}line-through{% endif %}">Share your carbon.txt file across other domains.</span>
    </li>
  </ol>

  {% if active_step == 1 %}
  <p><strong>To complete the process, you will need to:</strong></p>
  <ul>
    <li>
      Have the ability/permission to upload a carbon.txt file to your main business site.
    </li>
    <li>
      Know what public sustainability disclosures your organisation has already made and at what URLs – our portal can help with this.
    </li>
    <li>
      Have the ability to set an HTTP header or DNS TXT record for any other domains you host.
    </li>
  </ul>
  {% endif %}
  <p>
  <a href="https://www.thegreenwebfoundation.org/support/using-carbon-txt-to-improve-green-web-check-results/" target="_blank"> What problems does carbon.txt solve?</a> | <a href="https://www.thegreenwebfoundation.org/support/using-carbon-txt-to-improve-green-web-check-results/#overview" target="_blank">Overview of the process</a> | <a href="https://carbontxt.org" target="_blank">Background on carbon.txt</a>
  </p>
