
  <p><strong>Problems with your Green Web Check results showing the wrong hosting provider name?</strong>
    This solution using carbon.txt is for you. It has three key steps:</p>

  <ol>
    <li class="font-bold">
        👉 Identify a domain you are in complete control of - your primary domain.
      </li>
      <li class="text-neutral-500">
        Create a carbon.txt file containing your key sustainability disclosures and host it on your primary domain.
      </li>
      <li class="text-neutral-500">
        Configure that carbon.txt file to be shared across your customers' or other domains, which ensures they're correctly attributed to your hosting provider in the Green Web platform.
      </li>
  </ol>

  <p>
  <a href="#"> What problems does carbon.txt solve?</a> | <a href="#">Overview of the process</a> | <a href="#">Background on carbon.txt</a>
  </p>
