{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block title %}
  The Green Web Foundation Member portal: Carbon text preview
{% endblock %}


{% block pretitle %}
  <h1>Preview how your carbon.txt would be parsed</h1>
{% endblock %}

{% block content %}

  <style>
    form div {
      margin-top:1rem;
      margin-bottom:1rem;
    }
    form input[type='url'],
    form textarea {
      min-width:30rem;
    }
    form div label {
      display: inline-block;
      min-width: 10rem;
    }
    pre {
      background-color: #eee;
      margin-top: 1rem;
      margin-bottom: 1rem;
      padding: 1rem;
    }
  </style>

  <form action="{{ form_url }}" method="post" class="try_out">
    {% csrf_token %}

    {{ form.non_field_errors }}

    {{ form.url.errors }}
    <div>
      <label for="{{ form.url.id_for_label }}">Url: </label>
      {{ form.url }}
    </div>

    <div>
      <label for="{{ form.body.id_for_label }}">body: </label>
      {{ form.body }}
    </div>

    <input type="submit" value="Submit"
      style="margin-top: 0px; padding: 6px 15px">
  </form>

  <hr />

  <section>

    {% if preview %}

      {% if preview.lookup_sequence %}

        <h3> From the initial location of the carbon.txt file, we tried following urls for the following reasons:</h3>

        <table>
          <th>
            Reason
          </th>
          <th>URL</th>

          {% for lookup in preview.lookup_sequence %}

            <tr>

              <td>{{ lookup.reason}} </td>
              <td><a href="{{ lookup.url }}">{{ lookup.url}}</a></td>
            </tr>

          {% endfor %}

        </table>

      {% endif %}


      {% if preview.upstream %}
        <h2>Upstream providers</h2>

        {% if preview.upstream %}
          <p>
            We were able to find the following upstream providers in the green web database
          </p>
        {% else %}
          <p>
            Sorry, we could not find any of the named upstream providers in the green web database.
          </p>
        {% endif %}

        <ul>
          {% for provider in preview.upstream %}

            <li>
              <h3>
                <a href="{{ provider.admin_url }}">
                  {{ provider.name}}
                </a>
              </h3>

              {% comment %} Add the supporting evidence here {% endcomment %}
            </li>
          {% endfor %}

        </ul>
      {% endif %}

      {% if preview.not_registered.org %}

        <h3>We don't have an an organisation registered for the domain:

          {% for cred in preview.not_registered.org.credentials  %}


            {% if forloop.first %}

              <code>{{ cred.domain }}</code> yet

            {% endif %}
          {% endfor %}

        </h3>

        <p>This is the information we do have in the carbon.txt file for that domain:</p>

        <pre><code>
{{ preview.not_registered.org.credentials }}
      </code></pre>

      {% endif %}

      {% if preview.org %}
        <h2>Primary Organisation</h2>

        <p>This is the organisation hosting the carbon.txt file being viewed and processed</p>

        <h3>
          <a href="{{ preview.org.admin_url }}">
            {{ preview.org }}
          </a>
        </h3>

      {% endif %}

      {% if preview.original_string %}

        <h3>Parsed carbontxt body content</h3>

        <p>The raw code the carbontxt parser read in the end is below:</p>

        <pre><code>
{{ preview.original_string }}
</code></pre>

      {% endif %}


      {% comment %} end if preview {% endcomment %}
    {% endif %}


  </section>


{% endblock content %}
