{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block pretitle %}
<h1>Import IP Ranges from a CSV file for {{ provider }}</h1>


{% endblock %}

{% block content %}

{% if ip_ranges %}

<hr / style="margin-top:3rem; margin-bottom:3rem;">

<h2>IP Range Import Preview</h2>

<p>The following IP ranges would be imported for <strong>{{ provider }}</strong>:</p>

<table>
<th>IP Range start</th><th>Ip Range End</th><th>Created / Updated</th><th>Length</th>

{% for ip in ip_ranges.green_ips %}

  <tr>
    <td>{{ ip.ip_start }}</td>
    <td>{{ ip.ip_end }}</td>
    <td>
      {% if ip.id  %}
          Updated
      {% else %}
          Created
      {% endif %}
    </td>
    <td>
      {{  ip.ip_range_length }}
    </td>
  </tr>

{% endfor %}
</table>

<h2>AS Import Preview</h2>

<p>The following AS Numbers ranges would be imported for <strong>{{ provider }}</strong>:</p>

<table>
<th>AS number</th><th>Created / Updated</th>

{% for as in ip_ranges.green_asns %}

  <tr>
    <td>{{ as.asn }}</td>
    <td>
      {% if as.id  %}
          Updated
      {% else %}
          Created
      {% endif %}
    </td>
  </tr>

{% endfor %}
</table>

{% endif %}

<hr / style="margin-top:3rem; margin-bottom:3rem;">

<form enctype="multipart/form-data" action="{% url 'greenweb_admin:accounts_hostingprovider_save_import_from_csv' provider.id %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit"
        style="margin-top: 0px; padding: 6px 15px">



      <a style="margin-left:1rem;margin-right:1rem;" href="{% url 'greenweb_admin:accounts_hostingprovider_start_import_from_csv' provider.id %}">Back to import start</a>
      
      <a style="margin-left:1rem;margin-right:1rem;" class="" href="{% url 'greenweb_admin:accounts_hostingprovider_change' provider.id %}">Back to hosting provider</a>
</form>



{% endblock content %}
