{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></div>{% endblock %}

{% block content_title %}{% endblock %}

{% block content %}
<div style="margin: auto auto; width: 80%; text-align:center;">
    <a href="https://www.thegreenwebfoundation.org/partner-up/">
        <img src="{% static "accounts/images/partner.png" %}" alt="Partner up with us!" style="max-width: 600px; margin: 0 auto; text-align: center;display: inline-block; width: 100%;">
    </a>

    <p>{% trans "Thanks for spending some quality time with the Green web foundation today." %}</p>

    <p><a href="{% url 'admin:index' %}">{% trans 'Log in again' %}</a></p>
</div>
{% endblock %}
