{% extends "admin/change_form.html" %}

{% block field_sets %}
    {% for fieldset in adminform %}
        {% if fieldset.name == "Hostingprovider info" %}
            {% include "admin/accounts/hostingprovider/hosting_provider_fieldset.html" %}
        {% elif fieldset.name == "Datacenter info" %}
            {% include "admin/accounts/hostingprovider/data_center_fieldset.html" %}
        {% else %}
            {% include "admin/includes/fieldset.html" %}
        {% endif %}
    {% endfor %}
{% endblock %}

{% block inline_field_sets %}
    {% for inline_admin_formset in inline_admin_formsets %}
        {% comment %}
    We only want to serve the special inline tabular version
    of the IP approvals widgets and for IP range widgets,
    as some providers have massive numbers that stop the page loading
    properly.
    The rest we want to serve as using their default inlines.
  {% endcomment %}

        {% if inline_admin_formset.opts.verbose_name_plural == "IP approvals" %}

            {% if ip_approval_count > 500 %}
                <fieldset class="module {{ inline_admin_formset.classes }}">
                    <h2>
                        {{ inline_admin_formset.opts.verbose_name_plural|capfirst }}
                    </h2>
                    <p>
                        There are {{ ip_approval_count }} ip approval requests associated with this provider, which is too many to show on this page. Follow this
                        <a href="{{ bulk_edit_ip_approval_link }}">
                            this link to the bulk editing interface, with this provider pre-selected.
                        </a>
                    </p>
                </fieldset>
            {% else %}
                {% include "admin/accounts/hostingprovider/inline_tabular.html" %}
            {% endif %}

        {% elif inline_admin_formset.opts.verbose_name_plural == "IPs" %}

            {% if ip_range_count > 500 %}
                <fieldset class="module {{ inline_admin_formset.classes }}">
                    <h2>
                        {{ inline_admin_formset.opts.verbose_name_plural|capfirst }}
                    </h2>

                    <p>
                        There are {{ ip_range_count }} ip ranges associated with this provider, which is too many to show on this page. Follow this
                        <a href="{{ bulk_edit_ip_range_link }}">
                            this link to the bulk editing interface, with this provider pre-selected.
                        </a>
                    </p>
                </fieldset>
            {% else %}
                <h2>
                    {{ inline_admin_formset.opts.verbose_name_plural|capfirst }}
                </h2>
                {% include "admin/accounts/hostingprovider/inline_tabular.html" %}
            {% endif %}

        {% else %}
            {% include inline_admin_formset.opts.template %}
        {% endif %}
    {% endfor %}
{% endblock %}
