{% extends "base.html" %}

{% load widget_tweaks %}
{% load static %}

{% block bg-image %}
<div class="block fixed -z-50 left-0 w-1/2 -top-24 bg-no-repeat bg-right bg-[length:100%_100%] bg-gradient-to-r from-green-500" style="height: calc(100% + 100px);"></div>
{% endblock %}


{% block content %}

<section class="flex justify-center items-center" style="min-height: calc(100vh - 603px);">
	<div class="md:grid grid-cols-2 grid-rows-1 gap-20 height-full">

		<article class="mx-auto w-full lg:min-w-[500px] bg-white border-2 border-dark-gray rounded-3xl h-100-l p-8">

			<h1 class="text-6xl uppercase text-center pb-4">Log in</h1>

			{% if next %}
				{% if user.is_authenticated %}
				<p class="mb-6">Your account doesn't have authorisation to view this page. To proceed,
				please login with an account that has the required permissions. Contact support for more help.</p>
				{% else %}
				<p class="mb-6">You need to be logged in to see the page you were trying to view.</p>
				{% endif %}
			{% endif %}

			{% if form.errors %}
			<p class="text-purple mb-6">This username and password doesn't match an account in our records. Please try again.</p>
			{% endif %}

			<form method="post" action="{% url 'login' %}" >
				{% csrf_token %}

				<div class="">
					<label for="{{ form.username.id_for_label }}" class="text-base font-bold">Username</label>
					
					<div>
						{{ form.username|add_class:"bg-gray-100 border-gray-100 w-full" }}
					</div>
				</div>

				<div class="my-6">
					<label for="{{ form.password.id_for_label }}" class="text-base font-bold">Password</label>
					
					<div>
						{{ form.password|add_class:"bg-gray-100 border-gray-100 w-full" }}
					</div>

					{# Assumes you setup the password_reset view in your URLconf #}
					<p class="text-neutral-500 mt-2"><a href="{% url 'password_reset' %}">Lost password?</a></p>
				</div>

				<button type="submit" class="btn block m-auto w-2/3">Log in</button>

				<input type="hidden" name="next" value="{{ next }}">
			</form>

			<p class="mt-8">Don't have an account yet? <a href="{% url 'registration' %}">Create one.</a></p>

		</article>

		<div class="hidden md:flex justify-center">
			<img width="350px" height="380px" src="{% static 'img/GWF-icon-sunburst--green.svg' %}" alt="The Green Web Foundation logo"/>
		</div>
	</div>
</section>
{% endblock %}


{% block footer-open %}
	{% include "auth/partials/_auth_footer-open.html" %}
{% endblock  %}

{% block footer-content %}
	{% include "auth/partials/_auth_footer-content.html" %}
{% endblock  %}