{% extends "base.html" %}

{% load widget_tweaks %}
{% load static %}

{% block bg-image %}
<div class="block fixed -z-50 left-0 w-1/2 -top-24 bg-no-repeat bg-right bg-[length:100%_100%] bg-gradient-to-r from-green-500" style="height: calc(100% + 100px);"></div>
{% endblock %}

{% block content %}
<div class="alert__success">
    <p>Thanks for spending some quality time with the Green Web Foundation today.</p>
    <br>
    <p ><a href="{% url 'login' %}">Log in again</a></p>
</div>

{% endblock %}
