{% extends "base.html" %}

{% load widget_tweaks %}
{% load static %}

{% block content %}
<article>
    <div class="prose mx-auto mt-8">

		<div class="alert__success">
			<p>You've logged out of the Green Web Foundation Provider Portal.</p>
		</div>
	
		<p class="mt-8 text-center"><a href="{% url 'login' %}" class="btn">Log in again</a></p>
  
</article>

{% endblock %}

{% block footer-open %}
	{% include "auth/partials/_auth_footer-open.html" %}
{% endblock  %}

{% block footer-content %}
	{% include "auth/partials/_auth_footer-content.html" %}
{% endblock  %}

