{% extends "base.html" %}

{% load widget_tweaks %}
{% load static %}

{% block bg-image %}
<div class="block fixed -z-50 left-0 w-1/2 -top-24 bg-no-repeat bg-right bg-[length:100%_100%] bg-gradient-to-r from-green-500"
    style="height: calc(100% + 100px);"></div>
{% endblock %}


{% block content %}

{% if messages %}
    {% for message in messages %}
        <div{% if message.tags %} class="alert__{{ message.tags }}" {% endif %}>
            <p>{{ message }}</p>
        </div>
    {% endfor %}
{% endif %}

<section class="flex justify-center items-center" style="min-height: calc(100vh - 603px);">
    <div class="md:grid grid-cols-2 grid-rows-1 gap-20 height-full">

        <article class="mx-auto w-full lg:min-w-[500px] bg-white border-2 border-dark-gray rounded-3xl h-100-l p-8">

            <h1 class="text-6xl uppercase text-center pb-4">Logged out</h1>
            <p>Thanks for spending some quality time with the Green Web Foundation today.</p>
            <br>
            <p ><a class="md:flex justify-center" href="{% url 'login' %}">Log in again</a></p>
        </article>

        <div class="hidden md:flex justify-center">
            <img width="350px" height="380px" src="{% static 'img/GWF-icon-sunburst--green.svg' %}"
                alt="The Green Web Foundation logo" />
        </div>
    </div>
</section>
{% endblock %}

{% block footer-open %}
    <footer class="bg-black mt-12 py-12 border-t-2">
{% endblock %}