{% extends "base.html" %}

{% load widget_tweaks %}
{% load static %}

{% block bg-image %}
<div class="block fixed -z-50 left-0 w-1/2 -top-24 bg-no-repeat bg-right bg-[length:100%_100%] bg-gradient-to-r from-green-500" style="height: calc(100% + 100px);"></div>
{% endblock %}


{% block content %}
{% if validlink %}
<section class="flex justify-center items-center" style="min-height: calc(100vh - 603px);">
	<div class="md:grid grid-cols-2 grid-rows-1 gap-20 height-full">

		<article class="mx-auto w-full lg:min-w-[500px] bg-white border-2 border-dark-gray rounded-3xl h-100-l p-8">

			<h1 class="text-6xl uppercase text-center pb-4">Password reset</h1>
            <p>Please enter your new password twice so you can be sure you typed it correctly.</p>
            
            <form method="post">
                {% csrf_token %}
                <input class="hidden" autocomplete="username" value="{{ form.user.get_username }}">
                <div class="my-6 field-password1">
                    {{ form.new_password1.errors }}
                    <label for="id_new_password1" class="text-base">New password</label>
                    <div>
                        {{ form.new_password1|add_class:"bg-gray-100 border-gray-100 w-full"}}
                    </div>
                </div>
                <div class="my-6 field-password2">
                    {{ form.new_password2.errors }}
                    <label for="id_new_password2" class="text-base">Confirm password</label>
                    <div>
                        {{ form.new_password2|add_class:"bg-gray-100 border-gray-100 w-full"}}
                    </div>
                </div>
                <button type="submit" class="btn block m-auto w-2/3">Change my password</button>
            </form>
            
		</article>

		<div class="hidden md:flex justify-center">
			<img width="350px" height="380px" src="{% static 'img/GWF-icon-sunburst--green.svg' %}" alt="Green Web Foundation logo"/>
		</div>
	</div>
</section>
{% else %}
<div class="alert__error">
    <p>The password reset link was invalid, possibly because it has already been used. <a href="{% url 'password_reset' %}">Please request a new password reset.</a></p>
</div>   

{% endif %}
{% endblock %}

{% block footer-open %}
	{% include "auth/partials/_auth_footer-open.html" %}
{% endblock  %}

{% block footer-content %}
	{% include "auth/partials/_auth_footer-content.html" %}
{% endblock  %}
