{% extends "base.html" %}

{% load widget_tweaks %}
{% load static %}

{% block bg-image %}
<div class="block fixed -z-50 left-0 w-1/2 -top-24 bg-no-repeat bg-right bg-[length:100%_100%] bg-gradient-to-r from-green-500"
    style="height: calc(100% + 100px);"></div>
{% endblock %}


{% block content %}

<section class="flex justify-center items-center" style="min-height: calc(100vh - 603px);">
    <div class="md:grid grid-cols-2 grid-rows-1 gap-20 height-full">

        <article class="mx-auto w-full lg:min-w-[500px] bg-white border-2 border-dark-gray rounded-3xl h-100-l p-8">

            <h1 class="text-6xl uppercase text-center pb-4">Password change</h1>
            <p>Please enter your old password, for security’s sake, and then enter your new password twice so we can
                verify you typed it in correctly.</p>

            {% if form.errors %}
            <p class="text-purple mb-6">Please correct the errors below</p>
            {% endif %}

            <form method="post">
                {% csrf_token %}

                <div class="my-6">
                    {{ form.old_password.errors }}
                    <label for="{{ form.old_password.id_for_label }}" class="text-base">Old password</label>
                    <div>
                        {{ form.old_password|add_class:"bg-gray-100 border-gray-100 w-full" }}
                    </div>
                </div>
                <div class="my-6">
                    {{ form.new_password1.errors }}
                    <label for="{{ form.new_password1.id_for_label }}" class="text-base">New password</label>
                    <div>
                        {{ form.new_password1|add_class:"bg-gray-100 border-gray-100 w-full" }}
                    </div>
                    {% if form.new_password1.help_text %}
                    <div class="help" {% if form.new_password1.id_for_label %}id="{{ form.new_password1.id_for_label }}_helptext" {% endif %}>
                        {{ form.new_password1.help_text|safe }}
                    </div>
                    {% endif %}
                </div>
                <div class="my-6">
                    {{ form.new_password2.errors }}
                    <label for="{{ form.new_password2.id_for_label }}" class="text-base">New password
                        confirmation</label>
                    <div>
                        {{ form.new_password2|add_class:"bg-gray-100 border-gray-100 w-full" }}
                    </div>
                    {% if form.new_password2.help_text %}
                    <div class="help" {% if form.new_password2.id_for_label %}
                        id="{{ form.new_password2.id_for_label }}_helptext" {% endif %}>{{
                        form.new_password2.help_text|safe }}</div>
                    {% endif %}
                </div>

                <button type="submit" class="btn block m-auto w-2/3">Change my password</button>

                <input type="hidden" name="next" value="{{ next }}">
            </form>

        </article>

        <div class="hidden md:flex justify-center">
            <img width="350px" height="380px" src="{% static 'img/GWF-icon-sunburst--green.svg' %}"
                alt="The Green Web Foundation logo" />
        </div>
    </div>
</section>
{% endblock %}