{% extends 'base_directory.html' %}
{% load humanize %}
{% load static %}
{% load widget_tweaks %}
{% load tailwind_filters %}

{% block content %}
    <div class="full-width bg-neutral-900 relative -top-6 md:-top-8">
        <section class="container mx-auto text-white pt-12 pb-8 px-2 sm:px-4 lg:pb-12">
            
            <h2 class="text-5xl md:text-disp-sm md:mt-6 pb-4">I'm looking for</h2>
            <form method="get"
                class="form__directory mt-4 grid grid-cols-1 lg:grid-cols-4 grid-rows-3 lg:grid-rows-1 gap-6">
                {{ filter.form.as_p }}
                <input type="submit" class="btn p-4 mt-4 mb-4 lg:col-span-4 lg:justify-self-end lg:w-1/4" value="Find" />
            </form>

			<details class="prose mt-6 md:mt-8 lg:mt-0">
				<summary class="uppercase text-green">
					<span class="underline hover:no-underline">About this directory</span> 
					<span class="utility-icon info-circle">&#x2139;</span>
				</summary>
				<p class="text-white mt-2">
					The Green Web Directory is a searchable list which enables people to 
					quickly find verified green hosting companies. These are organisations that offer 
					hosting services and can demonstrate they are taking steps to avoid, reduce or offset 
					the greenhouse gas emissions caused by using electricity to provide their 
					services. To become verified they share evidence with us, Green Web Foundation, 
					to show they're doing this on a yearly basis, or better. Verification is free. 
				</p>

				<ul class="pl-0">
					<li class="inline-block border-r-2 border-neutral-500 mr-1 pl-0 pr-1.5">
						<a class="text-white m-0" href="https://www.thegreenwebfoundation.org/directory/services-offered/" target="_blank" rel="noopener noreferrer">
						Services you can search by</a>
					</li>
					<li class="inline-block border-r-2 border-neutral-500 m-0 mr-1 pl-0 pr-1.5">
						<a class="text-white m-0" href="https://www.thegreenwebfoundation.org/green-web-dataset/get-verified/" target="_blank" rel="noopener noreferrer">
						How to get verified</a>
					</li>
					<li class="inline-block m-0 pl-0">
						<a class="text-white m-0" href="https://www.thegreenwebfoundation.org/support-form/" target="_blank" rel="noopener noreferrer">
						Get help</a>
					</li>
				</p>
			</details>

        </section>
    </div>

    <section class="main-content container mx-auto md:mb-8 mt-4 lg:mt-6">
        {% if not ordered_results %}
            {% include "greencheck/partials/_directory_no_results.html" %}
        {% else %}
            {% include "greencheck/partials/_directory_results.html" %}
        {% endif %}
	</section> 

	{% include "greencheck/partials/_directory_ctas.html" %}

	<a href="#">
		<button id="scroll-to-top" class="fixed bottom-5 right-5 z-50 btn btn-sm hover:bg-purple hover:text-white m-0 py-4 rounded-md border-0 flex items-center">
			<svg class="scroll-to-top-icon -mt-1" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15"><rect width="15" height="15" fill="none"></rect><path fill="currentColor" d="M2,8.48l-.65-.65a.71.71,0,0,1,0-1L7,1.14a.72.72,0,0,1,1,0l5.69,5.7a.71.71,0,0,1,0,1L13,8.48a.71.71,0,0,1-1,0L8.67,4.94v8.42a.7.7,0,0,1-.7.7H7a.7.7,0,0,1-.7-.7V4.94L3,8.47a.7.7,0,0,1-1,0Z"></path></svg>
			<span class="scroll-to-top-label font-bold pl-1.5">To the top</span>
		</button>
	</a>

{% endblock %}

{% block footer-content %}
	{% include "greencheck/partials/_directory_footer.html" %}
{% endblock  %}
