{% extends 'base_directory.html' %}
{% load humanize %}
{% load static %}
{% load widget_tweaks %}
{% load tailwind_filters %}
{% block content %}
    <div class="full-width bg-neutral-900 relative -top-6 md:-top-8">
        <section class="container mx-auto text-white px-2 sm:px-4 p-12">
            <p class="uppercase text-green">Green Web Directory</p>
            <h1 class="text-disp-sm mt-12 pb-4">I am looking for</h1>
            <form method="get"
                class="form__directory mt-4 grid grid-cols-1 md:grid-cols-3 grid-rows-3 md:grid-rows-1 gap-8">
                {{ filter.form.as_p }}
                <input type="submit" class="btn p-4 mt-4 mb-4" value="Find" />
            </form>
        </section>
    </div>
    <section class="main-content container mx-auto">
        {% if not ordered_results %}
            {% include "greencheck/partials/_no_directory_results.html" %}
        {% else %}
            {% include "greencheck/partials/_directory_results.html" %}
        {% endif %}
    </section>
{% endblock %}
