{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>

    <title>The Green Web Foundation</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	</head>

	<body>

		<header class="bg-white border-b-2">
			<div class="container mx-auto px-2 sm:px-4">
			
				{% block nav %}
				<nav class="flex flex-wrap min-[520px]-flex-nowrap gap-x-8 gap-y-4 justify-between items-center bg-white py-4">
					<div class="">
						<a href="https://www.thegreenwebfoundation.org/">
							<img width="200px" height="48px" src="{% static 'img/TGWF-logo.svg' %}" alt="The Green Web Foundation logo"/>
						</a>
					</div>

					{% block nav-menu %}
					<div class="flex-grow border-l text-medium pl-8 h-12 flex items-center">
							<p class="font-bold">
								<a href="https://app.greenweb.org/directory/" class="no-underline">Directory</a>
							</p>
					</div>
					{% endblock nav-menu %}

					{% include "greencheck/partials/_directory_beta-msg.html" %}
				</nav>
				{% endblock nav %}

			</div>
		</header>

		<div class="relative">

			<div class="container mx-auto pt-6 md:pt-8 px-2 sm:px-4">
		
				{% block content %}
				<section class="flex items-center justify-center h-screen">
					<h1 class="text-5xl">Django + Tailwind = ❤️</h1>
				</section>
				{% endblock  %}

			</div>
		</div>

		{% block footer-content %}
			<footer class="bg-green mt-12 py-12 border-t-2">
				<div class="container mx-auto px-2 sm:px-4 md:p-0 prose">
					<div class="p-6 bg-white border-2 rounded-xl">
						<h3 class="text-xl uppercase">Need help?</h3>
						<p>Our friendly support team are on hand to clarify anything you're not sure about.</p>
						<p class="mt-10 mb-6"><a href="https://www.thegreenwebfoundation.org/support-form/" class="btn btn-white" target="_blank" rel="noopener noreferrer">Contact our support team</a></p>
					</div>
				</div>
			</footer>
		{% endblock  %}

		
		{% block extra_js %}

		{% endblock %}

		<script async defer src="https://scripts.withcabin.com/hello.js"></script>

		<script>
			// Get distance of main-content box from top.
			const mainContent = document.getElementById('main-content'),
				mainContentTopPos = mainContent.getBoundingClientRect().top + window.scrollY;		

			// Set a variable for our button element.
			const scrollToTopButton = document.getElementById('scroll-to-top');

			var timer;
		
			const scrollFunc = () => {

				// Have a timer to prevent unnecessary work in the browser.
				if( timer ) {
					window.clearTimeout( timer );
				}

				timer = window.setTimeout( function() {

					// Get the current scroll value.
					let y = window.scrollY;
					
					// If the main-content box is at the top of the screen, show button.
					if ( y > mainContentTopPos ) {
						scrollToTopButton.classList.remove( "invisible" );
					} else {
						scrollToTopButton.classList.add( "invisible" );
					}
				}, 150);
			};
		
			window.addEventListener( "scroll", scrollFunc );

			// When the button is clicked scroll to the top.
			scrollToTopButton.onclick = function( e ) {
				e.preventDefault();
				document.body.scrollIntoView({ behavior: "smooth" });
			}
		</script>

	</body>
</html>
