{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>

    <title>The Green Web Foundation</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	</head>

	<body class=" font-sans-serif leading-normal tracking-normal">

		{% block nav %}

		<div class="border-b-2 mb-6 md:mb-8">
			<div class="container mx-auto">

				<nav class="flex justify-between items-center bg-white py-6 md:justify-start md:space-x-10 ">
					<div class="flex-grow">
						<a href="/">
							<img width="200px" height="48px" src="{% static 'img/TGWF-logo.svg' %}" />
						</a>
					</div>

					<div class="px-10 display-block">
						{% if request.user.is_authenticated %}
						<p>
							Hello {{ request.user.username }}
							|
							<a href="{% url 'logout' %}">Log out</a>
						</p>
						{% else %}
							<a href="{% url 'login' %}">Log in</a>
						{% endif %}
					</div>
				</nav>

			</div>
		</div>

		{% endblock nav %}


		{% block content %}

		<div class="container mx-auto">
			<section class="flex items-center justify-center h-screen">
				<h1 class="text-5xl">Django + Tailwind = ❤️</h1>
			</section>
		</div>

		{% endblock  %}

		{% block extra_js %}

		{% endblock %}

	</body>
</html>
