{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>

    <title>The Green Web Foundation</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	</head>

	<body>

		<header class="bg-white border-b-2">
			<div class="container mx-auto px-2 sm:px-4">
			
				{% block nav %}
				<nav class="flex justify-between items-center bg-white py-6 md:justify-start md:space-x-10 ">
					<div class="flex-grow">
						<a href="/">
							<img width="200px" height="48px" src="{% static 'img/TGWF-logo.svg' %}" alt="The Green Web Foundation logo"/>
						</a>
					</div>

					<div class="px-10 display-block">
						{% if request.user.is_authenticated %}
						<p>
							Hello {{ request.user.username }}
							|
							<a href="{% url 'logout' %}">Log out</a>
						</p>
						{% else %}
							<a href="{% url 'login' %}">Log in</a>
						{% endif %}
					</div>
				</nav>
				{% endblock nav %}

			</div>

			<div class="bg-black">
				<div class="container mx-auto px-2 sm:px-4">
					<p class="py-2 text-green text-sm uppercase">The Green Domains dataset</p>
				</div>
			</div>
		</header>
		
		<div class="relative">
			<div class="hidden lg:block fixed -z-50 right-0 w-11/12 -top-24 bg-no-repeat bg-right bg-[length:100%_100%] bg-gradient-to-l from-green-100 via-green-700" style="background: radial-gradient(circle, rgba(187,247,187,1) 0%, rgba(255,255,255,1) 71%); height: calc(100% + 100px); right: -50vw;"></div>

			<div class="container mx-auto pt-6 md:pt-8 px-2 sm:px-4">
		
				{% block content %}
				<section class="flex items-center justify-center h-screen">
					<h1 class="text-5xl">Django + Tailwind = ❤️</h1>
				</section>
				{% endblock  %}

			</div>
		</div>


		<footer class="bg-green mt-12 py-12 border-t-2">

			{% block footer %}
			<div class="container mx-auto px-2 sm:px-4 md:p-0 prose">
				<div class="p-6 bg-white border-2 rounded-xl">
					<h3 class="text-xl uppercase">Need help?</h3>
					<p>Our friendly support team are on hand to clarify anything you're not sure about.</p>
					<p class="mt-10 mb-6"><a href="https://www.thegreenwebfoundation.org/support-form/" class="btn btn-white" target="_blank" rel="noopener noreferrer">Contact our support team</a></p>
				</div>
			</div>
			{% endblock  %}

		</footer>	

		{% block extra_js %}

		{% endblock %}

	</body>
</html>
