<div class="bg-neutral-200 rounded-xl my-6 p-4">
    <div>
        {% for field in form %}
        <div>
            <b>{{ field.label }}</b><br>

            {% if field.widget_type == "checkboxselectmultiple" %}

                {% comment %}
                    Special treatment for MultipleSelectField in order to
                    display human-readable labels instead of slugs,
                    (e.g. "Platform as a Service" instead of "paas")
                {% endcomment %}

                {% for choice in field %}
                    {{ choice.choice_label }}<br>
                {% endfor %}
            
            {% else %}
                {{ field.value }}
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>