{% load preview_extras %}
{% load countries %}

<div class="bg-neutral-50 rounded-xl my-6 p-4">
	{% for field in form %}
	<div class="mb-4 last-of-type:mb-0">
		<p class="font-bold m-0">{{ field.label }}</p>
		{% if field.label|lower == "which services does your organisation offer?" %}
			{% comment %}
				Expand services slugs to their full names (e.g. "paas" -> "Platform as a service")
				using custom template tag
			{% endcomment %}
			<p class="m-0">{{ field.value|render_as_services|conditional_yesno:"Yes,No,-" }}</p>
		{% elif field.label|lower == "country" %}
			{% comment %}
				Expand country code to country name (e.g. "DE" -> "Germany")
				using template tag provided by django_countries: https://pypi.org/project/django-countries/#template-tags
				with a fallback on original value if no country could be matched
			{% endcomment %}
			{% get_country field.value as country %}
			{% if country.name %}
				<p class="m-0">{{ country.name }}</p>
			{% else %}
				<p class="m-0">{{ field.value }}</p>
			{% endif %}
		{% else %}
			<p class="m-0">{{ field.value|conditional_yesno:"Yes,No,-" }}</p>
		{% endif %}
	</div>
	{% endfor %}
</div>