# {{ ansible_managed }}
# Last run: {{ template_run_date }}

PYTHONDONTWRITEBYTECODE=1
MAILGUN_API_KEY={{ lookup('env','MAILGUN_API_KEY') }}
DATABASE_URL="{{ lookup('env','DATABASE_URL') }}"
DATABASE_URL_READ_ONLY="{{ lookup('env','DATABASE_URL_READ_ONLY') }}"
EXPLORER_TOKEN="{{ lookup('env','EXPLORER_TOKEN') }}"
SECRET_KEY="{{ lookup('env','SECRET_KEY') }}"
DJANGO_SETTINGS_MODULE="{{ lookup('env','DJANGO_SETTINGS_MODULE') }}"
RABBITMQ_URL="{{ lookup('env', "RABBITMQ_URL") }}"


SENTRY_DSN="{{ lookup('env', "SENTRY_DSN") }}"
SENTRY_ENVIRONMENT="{{ lookup('env', "SENTRY_ENVIRONMENT") }}"
SENTRY_RELEASE="{{ lookup('env', "SENTRY_RELEASE") }}"

{% if sentry_sample_rate is defined %}
SENTRY_SAMPLE_RATE={{ sentry_sample_rate }}
{% endif %}

DOMAIN_SNAPSHOT_BUCKET="{{ lookup('env', 'DOMAIN_SNAPSHOT_BUCKET') }}"
OBJECT_STORAGE_ENDPOINT="{{ lookup('env', 'OBJECT_STORAGE_ENDPOINT') }}"
OBJECT_STORAGE_REGION="{{ lookup('env', 'OBJECT_STORAGE_REGION') }}"
OBJECT_STORAGE_ACCESS_KEY_ID="{{ lookup('env', 'OBJECT_STORAGE_ACCESS_KEY_ID') }}"
OBJECT_STORAGE_SECRET_ACCESS_KEY="{{ lookup('env', 'OBJECT_STORAGE_SECRET_ACCESS_KEY') }}"
OBJECT_STORAGE_BUCKET_NAME="{{ lookup('env', 'OBJECT_STORAGE_BUCKET_NAME') }}"


AMAZON_PROVIDER_ID="{{ lookup('env', 'AMAZON_PROVIDER_ID') }}"
AMAZON_REMOTE_API_ENDPOINT="{{ lookup('env', 'AMAZON_REMOTE_API_ENDPOINT') }}"
MICROSOFT_PROVIDER_ID="{{ lookup('env', 'MICROSOFT_PROVIDER_ID') }}"
MICROSOFT_LOCAL_FILE_DIRECTORY="{{ lookup('env', 'MICROSOFT_LOCAL_FILE_DIRECTORY') }}"
EQUINIX_PROVIDER_ID="{{ lookup('env', 'EQUINIX_PROVIDER_ID') }}"
EQUINIX_REMOTE_API_ENDPOINT="{{ lookup('env', 'EQUINIX_REMOTE_API_ENDPOINT') }}"

MAXMIND_USER_ID="{{ lookup('env', 'MAXMIND_USER_ID') }}"
MAXMIND_LICENCE_KEY="{{ lookup('env', 'MAXMIND_LICENCE_KEY') }}"

AWS_SHARED_CREDENTIALS_FILE="{{ lookup('env', 'AWS_SHARED_CREDENTIALS_FILE') }}"
AWS_CONFIG_FILE="{{ lookup('env', 'AWS_CONFIG_FILE') }}"
API_URL="{{ lookup('env', 'API_URL') }}"


TRELLO_REGISTRATION_EMAIL_TO_BOARD_ADDRESS="{{ lookup('env', 'TRELLO_REGISTRATION_EMAIL_TO_BOARD_ADDRESS') }}"
GUNICORN_WORKERS={{ gunicorn_workers }}
GUNICORN_THREADS={{ gunicorn_threads }}

# Note: wrapping these values in strings means that when we have an empty values
# django environ will see not a float like 0.0, but a an empty string, and throw an exception
# TODO: consider failing when early when these are not set instead of sending
# empty strings with the lookup('KEY', errors='strict') option
# https://docs.ansible.com/ansible/latest/plugins/lookup.html#using-lookup-plugins

CARBON_TXT_RESOLUTION_TIMEOUT="{{ lookup('env', 'CARBON_TXT_RESOLUTION_TIMEOUT') }}"
CARBON_TXT_CACHE_TTL="{{ lookup('env', 'CARBON_TXT_CACHE_TTL') }}"

CLOUDFLARE_PROVIDER_ID="{{ lookup('env', 'CLOUDFLARE_PROVIDER_ID') }}"
CLOUDFLARE_REMOTE_API_ENDPOINT_IPV4="{{ lookup('env', 'CLOUDFLARE_REMOTE_API_ENDPOINT_IPV4') }}"
CLOUDFLARE_REMOTE_API_ENDPOINT_IPV6="{{ lookup('env', 'CLOUDFLARE_REMOTE_API_ENDPOINT_IPV6') }}"

BREVO_API_KEY="{{ lookup('env', 'BREVO_API_KEY') }}"
BREVO_LIST_ID="{{ lookup('env', 'BREVO_LIST_ID') }}"
BREVO_SOURCE="{{ lookup('env', 'BREVO_SOURCE') }}"
