# {{ ansible_managed }}
# Last run: {{ template_run_date }}

MAILGUN_API_KEY={{ lookup('env','MAILGUN_API_KEY') }}
DATABASE_URL="{{ lookup('env','DATABASE_URL') }}"
SECRET_KEY="{{ lookup('env','SECRET_KEY') }}"
DJANGO_SETTINGS_MODULE="{{ lookup('env','DJANGO_SETTINGS_MODULE') }}"
SENTRY_DSN="{{ lookup('env', "SENTRY_DSN")}}"
RABBITMQ_URL="{{ lookup('env', "RABBITMQ_URL")}}"
PYTHONDONTWRITEBYTECODE=1
HONEYCOMBIO_WRITE_KEY="{{ lookup('env', "HONEYCOMBIO_WRITE_KEY")}}"
HONEYCOMBIO_DATASET="{{ lookup('env', "HONEYCOMBIO_DATASET")}}"
HONEYCOMBIO_SERVICE_NAME="{{ lookup('env', "HONEYCOMBIO_SERVICE_NAME")}}"

DOMAIN_SNAPSHOT_BUCKET = "{{ lookup('env', 'DOMAIN_SNAPSHOT_BUCKET')}}"
OBJECT_STORAGE_ENDPOINT = "{{ lookup('env', 'OBJECT_STORAGE_ENDPOINT')}}"
OBJECT_STORAGE_REGION = "{{ lookup('env', 'OBJECT_STORAGE_REGION')}}"
OBJECT_STORAGE_ACCESS_KEY_ID = "{{ lookup('env', 'OBJECT_STORAGE_ACCESS_KEY_ID')}}"
OBJECT_STORAGE_SECRET_ACCESS_KEY = "{{ lookup('env', 'OBJECT_STORAGE_SECRET_ACCESS_KEY')}}"
OBJECT_STORAGE_BUCKET_NAME = "{{ lookup('env', 'OBJECT_STORAGE_BUCKET_NAME')}}"

AZURE_PROVIDER_ID = "{{ lookup('env', 'AZURE_PROVIDER_ID')}}"
AZURE_IP_RANGE_JSON_FILE = "{{ lookup('env', 'AZURE_IP_RANGE_JSON_FILE')}}"
