#!/bin/bash

# {{ ansible_managed }}
# Last run: {{ template_run_date }}

# make sure we fail on any error
set -euo pipefail

# make sure we are in the right directory
cd {{ project_root }}/current/

# run the domains export and upload to object storage
python -m pipenv run ./manage.py dump_green_domains --upload
