#!/bin/bash

# {{ ansible_managed }}
# Last run: {{ template_run_date }}

# make sure we fail on any error
set -euo pipefail

# make sure we are in the right directory
cd {{ project_root }}/current/

# run our ip imports
source .venv/bin/activate
dotenv run -- ./manage.py update_networks_in_db_amazon
dotenv run -- ./manage.py update_networks_in_db_google
dotenv run -- ./manage.py update_networks_in_db_microsoft

# TODO: activate once we have found our technical contact to talk to
# dotenv run -- ./manage.py update_networks_in_db_cloudflare
