# {{ ansible_managed }}
# Last run: {{ template_run_date }}

[supervisord]
environment=LC_ALL='en_US.UTF-8',LANG='en_US.UTF-8'

[program:admin_web]
directory=/var/www/{{ tgwf_domain_name }}.thegreenwebfoundation.org/current/
numprocs=10                                                                               command=bash ./run_gunicorn.sh
process_name=%(process_num)02d
environment=PORT=90"%(process_num)02d"
autostart=true
autorestart=true
stopsignal=QUIT
user={{ supervisor_user }}
