{% load static %}

<footer class="bg-black pt-12 pb-4 md:pt-14 md:pb-10">
	<div class="container mx-auto text-white px-2 sm:px-4 min-[450px]:flex min-[450px]:flex-wrap">

		<div class="mb-8 sm:mb-4 md:mb-0 min-[450px]:w-1/2 md:w-1/4 lg:w-1/3">
			<h4 class="text-green text-base uppercase font-normal mb-1.5">Help</h4>

			<ul class="list-none">
				<li class="py-1.5">
					<a class="text-white text-sm" target="_blank" rel="noopener noreferrer" href="https://www.thegreenwebfoundation.org/green-web-dataset/get-verified/">
						How to get listed
					</a>
				</li>
				<li class="py-1.5">
					<a class="text-white text-sm" target="_blank" rel="noopener noreferrer" href="https://www.thegreenwebfoundation.org/support-form/?wpf2192_9=Update%20a%20listing%20in%20the%20Green%20Web%20Directory">
						Submit correction
					</a>
				</li>
				<li class="py-1.5">
					<a class="text-white text-sm" target="_blank" rel="noopener noreferrer" href="https://www.thegreenwebfoundation.org/support-form/">
						General queries
					</a>
				</li>
			</ul>
		</div>

 		<div class="mb-4 sm:mb-4 md:mb-0 min-[450px]:w-1/2 md:w-1/4 lg:w-1/3">
			<h4 class="text-green text-base uppercase font-normal mb-2">About</h4>

			<ul class="list-none">
				<li class="py-1.5">
					<a class="text-white text-sm" target="_blank" rel="noopener noreferrer" href="https://www.thegreenwebfoundation.org/green-web-dataset">
						About the data
					</a>
				</li>
				<li class="py-1.5">
					<a class="text-white text-sm" target="_blank" rel="noopener noreferrer" href="https://www.thegreenwebfoundation.org/about/">
						About Green Web Foundation
					</a>
				</li>
				<li class="py-1.5">
					<a class="text-white text-sm" target="_blank" rel="noopener noreferrer" href="https://www.thegreenwebfoundation.org/privacy-statement/">
						Privacy policy
					</a>
				</li>
			</ul>
		</div>

		<div class="mb-8 md:mb-0 min-[450px]:w-full md:w-1/2 lg:w-1/3">
			<div class="flex gap-8 items-center md:justify-end py-6 md:pt-0">
				<div class="">
					<a href="/">
						<img width="200px" height="48px" src="{% static 'img/GWF-logo-white.svg' %}" alt="The Green Web Foundation logo"/>
					</a>
				</div>

				<div class="border-l border-white text-medium pl-8 h-12 flex items-center">
					<p class="font-bold">Directory</p>
				</div>
			</div>

			<p class="text-sm md:text-right">Towards a fossil-free internet by 2030</p>
		</div>

	</div>
</footer>
