{% load static %}

<section class="full-width border-t-2 bg-gradient-135 md:bg-[radial-gradient(ellipse_at_top_left,_var(--tw-gradient-stops))] from-white via-blue-200 to-blue">
	<div class="container mx-auto pt-6 pb-4 md:py-12 px-2 sm:px-4">

		<div class="prose ml-0 mr-auto"> 
			<h2 class="text-2xl md:text-4xl md:text-black border-none mb-0">Found this Directory useful?</h3>
			<p>Here's how you can speed up the transition to a greener internet.</p>
		</div>

		<div class="md:max-w-[65ch] lg:max-w-none mx-auto mt-10 xl:mt-16 mb-6 md:grid md:grid-flow-col md:gap-x-12 lg:gap-x-16 xl:gap-x-20 2xl:gap-x-24 md:gap-y-0 md:grid-cols-3 md:auto-rows-auto md:items-start" style="grid-template-rows: repeat(3, auto);">
	
			<h3 class="heading-icon__lightning--black uppercase text-2xl md:text-med lg:text-2xl font-normal">Support<br/> the mission</h3>
			<p class="mt-3 lg:mt-4 pt-4 lg:pt-6 border-t-2">Help sustain this work as an open source project in service to the public’s interest.</p>
			<a class="btn btn-green btn-sm mt-4 lg:mt-6" target="_blank" rel="noopener noreferrer" href="https://www.thegreenwebfoundation.org/donate/">
				How donating works
				<img class="utility-icon external-link-icon" width="16px" height="16px" src="{% static 'img/icon-external-link.svg' %}" alt="Visit {{ obj.name }}'s website"/>
			</a>			

			<h3 class="heading-icon__plant--black uppercase text-2xl md:text-med lg:text-2xl font-normal">Share your<br/> suggestions</h3>
			<p class="mt-3 lg:mt-4 pt-4 lg:pt-6 border-t-2">We welcome your feedback and perspectives on how to make this Directory better.</p>
			<a class="btn btn-black text-white btn-sm mt-4 lg:mt-6 mb-16 md:mb-0" target="_blank" rel="noopener noreferrer" href="https://www.thegreenwebfoundation.org/support-form/">
				Send us a message
				<img class="utility-icon external-link-icon" width="16px" height="16px" src="{% static 'img/icon-external-link-white.svg' %}" alt="Visit {{ obj.name }}'s website"/>
			</a>

			<h3 class="heading-icon__sunburst--black uppercase text-2xl md:text-med lg:text-2xl font-normal">Spread<br/> the word</h3>
			<p class="mt-3 lg:mt-4 pt-4 lg:pt-6 border-t-2">When you cite us publicly, it helps more people discover this work and take action.</p>
			<a class="btn btn-white btn-sm mt-4 lg:mt-6 mb-16 md:mb-0" target="_blank" rel="noopener noreferrer" href="https://www.thegreenwebfoundation.org/how-to-cite-our-work/">
				How to cite our work
				<img class="utility-icon external-link-icon" width="16px" height="16px" src="{% static 'img/icon-external-link.svg' %}" alt="Visit {{ obj.name }}'s website"/>
			</a>

		</div>
	</div>

</section>