{% load static %}

<footer class="bg-black">
	<div class="container mx-auto text-white py-8 md:pt-12 lg:pb-12 px-2 sm:px-4 min-[450px]:flex min-[450px]:flex-wrap">

		<div class="mb-8 md:mb-0 min-[450px]:w-full md:w-1/2">
			<div class="flex gap-8 justify-between items-center py-6 md:pt-0">
				<div class="">
					<a href="/">
						<img width="200px" height="48px" src="{% static 'img/GWF-logo-white.svg' %}" alt="The Green Web Foundation logo"/>
					</a>
				</div>

				<div class="flex-grow border-l border-white text-medium pl-8 h-12 flex items-center">
					<p class="font-bold">Directory</p>
				</div>
			</div>

			<p>Towards a fossil-free internet by 2030</p>
		</div>

		<div class="mb-8 min-[450px]:w-1/2 md:w-1/4">
			<h4 class="text-green text-base uppercase font-normal">Help</h4>

			<ul class="list-none">
				<li>
					<a class="text-white text-sm target="_blank" rel="noopener noreferrer" href="https://www.thegreenwebfoundation.org/get-verified/">
						Get listed
					</a>
				</li>
				<li>
					<a class="text-white text-sm target="_blank" rel="noopener noreferrer" href="https://www.thegreenwebfoundation.org/support-form/">
						Submit correction
					</a>
				</li>
				<li>
					<a class="text-white text-sm target="_blank" rel="noopener noreferrer" href="https://www.thegreenwebfoundation.org/support-form/">
						General queries
					</a>
				</li>
			</ul>
		</div>

		<div class="mb-4 min-[450px]:w-1/2 md:w-1/4">
			<h4 class="text-green text-base uppercase font-normal">About</h4>

			<ul class="list-none">
				<li>
					<a class="text-white text-sm target="_blank" rel="noopener noreferrer" href="#">
						About the data
					</a>
				</li>
				<li>
					<a class="text-white text-sm target="_blank" rel="noopener noreferrer" href="https://www.thegreenwebfoundation.org/about/">
						About Green Web Foundation
					</a>
				</li>
				<li>
					<a class="text-white text-sm target="_blank" rel="noopener noreferrer" href="#">
						Privacy policy
					</a>
				</li>
			</ul>
		</div>

	</div>
</footer>
