{% extends "base.html" %}

{% load widget_tweaks %}
{% load static %}

{% block content %}
<article>
    <div class="prose mx-auto mt-8">

		<div class="alert__success">
			<p>Password change successful.</p>
		</div>

		<p class="mt-8 text-center"><a href="{% url 'provider_portal_home' %}" class="btn">Go back to provider portal</a></p>
	</div>
</article>

{% endblock %}

{% block footer-open %}
	{% include "auth/partials/_auth_footer-open.html" %}
{% endblock  %}

{% block footer-content %}
	{% include "auth/partials/_auth_footer-content.html" %}
{% endblock  %}