{% extends "base.html" %}
{% load i18n %}

{% block content %}
<article>
    <div class="prose mx-auto mt-8">

		<div class="alert__success">
			<p>Password reset email sent.</p>
		</div>

		<h3>Please check your email</h3>
		<p>We’ve just emailed you instructions for resetting your password, which you'll receive shortly.</p>

		<p>If you don’t receive an email, there could be a few reasons for this:</p>
		<ul>
			<li>The email has gone to your spam folder - please check there.</li>
			<li>You requested a password reset for the wrong email address - please check there were no typos (it happens to all of us from time to time!).</p>
		</ul>

		<p>If you continue to have problems, our <a href="https://www.thegreenwebfoundation.org/support-form/" target="_blank" rel="noopener noreferrer">support desk</a> is here to help.</p>
</article>

{% endblock %}

{% block footer-open %}
	{% include "auth/partials/_auth_footer-open.html" %}
{% endblock  %}

{% block footer-content %}
	{% include "auth/partials/_auth_footer-content.html" %}
{% endblock  %}