{% extends "provider_portal/carbon_txt/base.html" %}
{% load i18n static breakpoint %}
{% block content_section %}
{% include "provider_portal/carbon_txt/partials/steps.html" with active_step=2 %}
{% include "provider_portal/carbon_txt/partials/primary_domain.html" with provider=provider show_edit_button=True %}
<h3>Create your carbon.txt file</h3>
<p>
Your carbon.txt file should link to at least one piece of public evidence/documentation demonstrating your commitment to hosting powered by 100% green energy. You could link to annual reports, sustainability web pages, renewable energy certificates or CSRD declarations.
</p>

{% include "provider_portal/carbon_txt/partials/supporting_documentation.html" with provider=provider %}

<p>
  <a target="_blank" href="https://carbontxt.org/tools/builder" class="btn btn-sm btn-white mt-4 mb-4 w-full">
    <span class="text-xs">Build your carbon.txt file</span>
      <img class="utility-icon external-link-icon" width="16px" height="16px" src="{% static 'img/icon-external-link.svg' %}" alt=""/>
  </a>
</p>


<h3>Upload your carbon.txt file</h3>

<p class="mb-0">
  Upload your completed carbon.txt file, making sure it is publicly accessible on the web at either of the these locations:
</p>
<ul class="mt-0">
  <li class="mt-0">At the root of your primary domain: <br /><strong class="whitespace-nowrap">https://{{provider.carbon_txt.domain}}/carbon.txt</strong>.</li>
  <li>In your primary domain's well-known directory: <strong class="whitespace-nowrap">https://{{provider.carbon_txt.domain}}/.well-known/carbon.txt</strong>.</li>
</ul>
<p>
Once you've done this, please click the button below to verify we can see it's there.
</p>
{% endblock content_section %}

{% block submit_button_text %}
Verify uploaded carbon.txt file
{% endblock submit_button_text %}
