{% extends "provider_portal/carbon_txt/base.html" %}

{% block content_section %}
  {% include "provider_portal/carbon_txt/partials/steps.html" with active_step=1 %}
  <h3>Your primary domain</h3>
  <p>
Your <em>primary domain</em> is the domain where you will host the carbon.txt file you create. Ideally this domain is the main website that represents your business, and you have access to host your carbon.txt file on its server.
  </p>
{% endblock content_section %}


{% block submit_button_text %}
  Save and continue to create your carbon.txt file
{% endblock submit_button_text %}
