{% extends "provider_portal/carbon_txt/base.html" %}
{% load i18n static breakpoint %}
{% block content_section %}
{% include "provider_portal/carbon_txt/partials/steps.html" with active_step=2 %}
{% include "provider_portal/carbon_txt/partials/primary_domain.html" with provider=provider show_edit_button=True %}
<h3>Create your carbon.txt file</h3>
<p>
Create a carbon.txt file containing key evidence or documentation of your commitment to hosting powered by 100% green energy, and host it on your primary domain, using <a href="https://carbontxt.org/tools/builder" target="_blank" class="font-bold">the carbon.txt builder tool</a>
  <img class="utility-icon external-link-icon" width="14px" height="14px" src="{% static 'img/icon-external-link.svg' %}" alt=""/>.
</p>

<p>
Your carbon.txt file collates links to your organization's key public sustainability documents, such as sustainability or CSR declarations, annual reports, or renewable energy certificates, and must contain at least one link.
</p>
{% if provider.valid_public_supporting_documents|length > 0 %}
  <p>
  Below is a table of the public supporting documentation you provided to us when you registered as a verified green provider, for you to consider including in your carbon.txt file.
  </p>

  {% include "provider_portal/carbon_txt/partials/supporting_documentation.html" with provider=provider %}

{% endif %}

<p>
  <a target="_blank" href="https://carbontxt.org/tools/builder" class="btn btn-sm btn-white mt-4 mb-4 w-full">
    <span class="text-xs">Open the carbon.txt builder</span>
      <img class="utility-icon external-link-icon" width="16px" height="16px" src="{% static 'img/icon-external-link.svg' %}" alt=""/>
  </a>
</p>


<h3>Upload your carbon.txt file</h3>

<p>
  Upload your completed carbon.txt file to the root of your primary domain at <strong class="whitespace-nowrap">https://{{provider.carbon_txt.domain}}/carbon.txt</strong>, making sure it is publicly accessible on the web.
</p>
<p>
 This step ensures that your sustainability evidence can be automatically discovered and verified by the Green Web tools. It also allows your hosted domains to be correctly attributed to your provider in Green Web Check.
</p>
{% endblock content_section %}

{% block submit_button_text %}
Submit for verification
{% endblock submit_button_text %}
