# {{ ansible_managed }}
# Last run: {{ template_run_date }}

MAILGUN_API_KEY="{{ mailgun_api_key }}"
DATABASE_URL="{{ database_url }}"
SECRET_KEY="{{ secret_key }}"
DJANGO_SETTINGS_MODULE="{{ django_settings_module }}"