django~=5.0
django[bcrypt]
django-anymail[mailgun]
django-countries
django-environ==0.4.5
django-extensions
django-model-utils
django-mysql
django-registration==3.1.2
django-unixdatetimefield==1.0.3
gunicorn
mysqlclient==2.1.1
requests
whitenoise~=4.1.4
whitenoise[brotli]
db-to-sqlite
sqlite-utils
sqlalchemy~=1.4
sentry-sdk
dramatiq
dramatiq[rabbitmq]
django-dramatiq==v0.10.0
phpserialize
tld
djangorestframework
djangorestframework-csv
pyyaml
uritemplate
drf-yasg
boto3
awscli-plugin-endpoint
awscli
ipwhois
django-cors-headers
djangorestframework-jsonp
pillow
django-taggit-labels
django-taggit
django-waffle
django-tailwind
django-widget-tweaks
crispy-tailwind
django-crispy-forms
django-storages
# We need to stay at 3.5.1 until this issue is resolved or we
# stop using the tag autocomplete widget in the hoster admin
# https://github.com/yourlabs/django-autocomplete-light/issues/1195
django-autocomplete-light
markdown
toml
typing_extensions
python-dateutil
python-dotenv
geoip2
iso3166
django-logentry-admin
pandas~=2.0.3
rich
duckdb
numpy~=1.24.4
dateutils
freezegun
django-filter
django-sql-explorer
django-admin-multiple-choice-list-filter
django-formtools
django-betterforms
django-convenient-formsets~=1.2.1
django-basicauth
django-file-resubmit
django-guardian
drf-api-logger
urllib3
