{% extends "./base_form.html" %}
{% load waffle_tags %}

{% block header_section %}
<section class="prose mt-10">
    <h1 class="mb-0">Basis for verification</h1>
</section>
{% endblock %}

{% block footer_section %}
    {% flag "upstream_providers" %}
    <div class="alert__warning mt-0" id="upstream-providers-disclosure">
        <p class="mb-0">
            This relationship may be publicly displayed and shared by the Green
            Web Foundation through our online platforms and tools. If you do not wish for these relationships to be disclosed, please select a different basis for verification.
        </p>
    </div>
    {% endflag %}
{% endblock %}

{% block extra_js %}
{% flag "upstream_providers" %}
<script>
    {% comment %}
    // RESELLER_STRING is the slug we use internally to identify this VerificationBasis
    // option in the form wizard. To change the displayed text, update the name, not the slug.
    {% endcomment %}

    const RESELLER_STRING =
      "we-resell-or-actively-use-a-provider-that-is-already-in-the-green-web-dataset";

    const disclosureWarning = document.querySelector(
      "#upstream-providers-disclosure"
    );

    const isReseller = document.querySelector(`input[value="${RESELLER_STRING}"]`);

    const linkedProviderSelectionBox = document.querySelector(
      "#id_3-upstream_providers_helptext",
    ).parentElement;

    function toggleUpstreamProvidersSection() {

      if (isReseller.checked) {
        // setting display to "" (i.e. block) makes our widget visible when checked
        // otherwise the 'none' style set in the 'else' branch hides it
        linkedProviderSelectionBox.style.display = "";
        disclosureWarning.style.display = "";
      } else {
        linkedProviderSelectionBox.style.display = "none";
        disclosureWarning.style.display = "none";
      }
    }

    // we always want to toggle the section on load, in case the user has already checked the box
    toggleUpstreamProvidersSection();

    // then we add a listener for subsequent changes
    addEventListener("DOMContentLoaded", () => {
      if (isReseller) {
        isReseller.addEventListener("change", () => {
            toggleUpstreamProvidersSection();
        });
      }
    });

</script>
<style>
.select2-selection__rendered {
  height: 100% !important;
  width: 100% !important;
  display: flex !important;
  align-items: center !important;
  overflow: auto !important;
}
</style>
{% endflag %}
{% endblock %}
