{% extends "base.html" %}
{% load i18n static %}
{% block head %}

{% endblock %}

{% block content %}

{{ wizard.form.media }}
<!-- Initialize a ConvenientFormset -->
<script>
	window.addEventListener('load', function (event) {
		new ConvenientFormset({
			'formsetPrefix': '{{ wizard.form.prefix }}',
			'formsContainerSelector': '#convenient-formset',
			'formSelector': '.convenient-form',

			'canAddForms': true,
			'addFormButtonSelector': '#add-form-button',
			'emptyFormSelector': '#empty-form .convenient-form',

			'canDeleteForms': true,
			'deleteFormButtonSelector': '#delete-form-button',
		});
	});
</script>
<style>
	[hidden] {
		display: none !important;
	}
</style>

<div class="prose mx-auto">

	<p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>

	<section class="my-8">
		<h1>Submit your evidence</h1>
		<p>Show us the steps you are taking to <span class="italic">avoid, reduce, or offset</span> your emissions. Upload as many supporting documents as needed.
		<p><a href="https://www.thegreenwebfoundation.org/what-we-accept-as-evidence-of-green-power/" target="_blank" rel="noopener noreferrer">Detailed information about the kind of evidence we request</a>.</p>
		<p class="uppercase font-bold">For each item, add a link <span class="uppercase">or</span> upload a file.</p>
	</section>
</div>

{% if form.is_multipart %}
<form enctype="multipart/form-data" method="post" action="" class="form__evidence">
{% else %}
<form method="post" action="" class="form--evidence">
{% endif %}

	{% csrf_token %}

	{{ wizard.management_form }}
	{{ wizard.form.management_form }}

	{% comment %}

	Formsets don't just have form errors, we need to account for the errors relating
	to the number of submitted options in a set of forms

	{% endcomment %}
	{% if wizard.form.non_form_errors %}
		<div class="prose my-10 mx-auto">
			<div class="bg-neutral-50 rounded-xl px-4 ">
				<div class="form__basetext-fields form--location lg:flex lg:flex-wrap">
					<div class="w-full">
						{{ wizard.form.non_form_errors}}
					</div>
				</div>
			</div>
		</div>
	{% endif %}

	<div id="convenient-formset">

	{{ wizard.form.non_field_errors}}

		{% for form in wizard.form.forms %}
		<div class="convenient-form bg-neutral-50 rounded-xl my-6 pb-6">

			{{ form.non_field_errors }}

			{% comment %}
			Iteration over all fields in the evidence form. This is
			equivalent to listing a span for each form.field_name
			where field_name is in: ["title", "link", "file", "type",
			"public", "description"]
			{% endcomment %}

			{% for field in form %}
				<div class="form__evidence--field mb-4 form__evidence--field-{{ field.name }}">
					{{ field.label_tag }}

					{% if field.help_text %}
						<p class="helptext">{{ field.help_text | safe }}</p>
					{% endif %}

					{{ field }}

					{{ field.errors }}
				</div>
			{% endfor %}

			<input class="text-sm hover:text-base" type="button" id="delete-form-button" value="&#x274C; Delete this evidence">

		</div>
		{% endfor %}
	</div>

	<div id="empty-form" style="display:none">
		<div class="convenient-form bg-neutral-50 rounded-xl my-6 pb-6">

			{{ wizard.form.empty_form.non_field_errors }}
			{% for field in wizard.form.empty_form %}
				<div class="form__evidence--field mb-4 form__evidence--field-{{ field.name }}">
					{{ field.label_tag }}

					{% if field.help_text %}
						<p class="helptext">{{ field.help_text | safe }}</p>
					{% endif %}

					{{ field }}

					{{ field.errors }}
				</div>
			{% endfor %}
			<input class="text-sm hover:text-base" type="button" id="delete-form-button" value="&#x274C; Delete this evidence">
		</div>
	</div>

	<div class="prose mx-auto my-12">
		<p class="mb-12"><sup>**</sup>NB It is <strong>not</strong> mandatory to place evidence in the public domain to become verified as a green hosting provider. However, we encourage you to do so wherever possible to increase your transparency and accountability.</p>

		<div class="mb-8">
			<input type="button" id="add-form-button" value="Add another evidence" class="btn btn-white">
		</div>

		<div>
			<input class="btn" type="submit" value="{% trans " next" %}" />
		</div>

        {% if wizard.steps.prev %}
		<div class="nav-buttons">
       		<button class="btn btn-sm btn-black" name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
        	<button class="btn btn-sm btn-black" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
		</div>
        {% endif %}
	</div>

</form>
{% endblock %}
