{% extends "base.html" %}
{% load i18n static %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}
<div class="container mx-auto">

<p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>

<section class="prose mt-10">
	<h1>About your organisation</h1>
	<p>A few simple questions about your organisation.</p>
</section>

{% if form.is_multipart %}
    <form enctype="multipart/form-data" method="post" action="" class="form__table">
{% else %}
    <form method="post" action="" class="form__table">
{% endif %}
{% csrf_token %}
<table>
{{ wizard.management_form }}
{% if wizard.form.forms %}
    {{ wizard.form.management_form }}
    {% for form in wizard.form.forms %}
        {{ form.as_table }}
    {% endfor %}
{% else %}
    {{ wizard.form }}
{% endif %}
</table>

<input class="btn" type="submit" value="{% trans "next" %}"/>

{% if wizard.steps.prev %}
<div class="">
	<button class="btn btn-sm btn-black" name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
	<button class="btn btn-sm btn-black" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
</div>
{% endif %}

</form>
</div>
{% endblock %}
