{% extends "base.html" %}
{% load i18n static %}

{% block head %}

{% endblock %}

{% block content %}

	{{ wizard.form.media }}
	<!-- Initialize a ConvenientFormset -->
	<script>
	window.addEventListener('load', function (event) {
		new ConvenientFormset({
			'formsetPrefix': '{{ wizard.form.locations.prefix }}',
			'formsContainerSelector': '#convenient-formset',
			'formSelector': '.convenient-form',

			'canAddForms': true,
			'addFormButtonSelector': '#add-form-button',
			'emptyFormSelector': '#empty-form .convenient-form',

			'canDeleteForms': true,
			'deleteFormButtonSelector': '#delete-form-button',
		});
	});
	</script>

	<p class="max-w-prose mx-auto">Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>

	<section class="prose my-10 mx-auto">
		<h1>Which parts of the world is your organisation active in?</h1>

		<p>Starting with your main headquarters in your home country, list the locations your organisation is actively selling services in. We collect this information to help people looking for services available in a given country or region.</p>

		<p>If your organisation runs services in a datacentre in given city, list the city and country for each region you offer. If you operate from a single datacentre or region, but have offices selling services in different countries, please list the cities you operate in.</p>

	</section>

	{% if form.is_multipart %}
		<form enctype="multipart/form-data" method="post" action="" class="">
	{% else %}
		<form method="post" action="" class="">
	{% endif %}

		{% csrf_token %}
		{{ wizard.management_form }}
		{{ wizard.form.locations.management_form }}

		{% if wizard.form.errors.locations %}
			<div class="prose my-10 mx-auto">
				<div class="convenient-form bg-neutral-50 rounded-xl my-6 px-4 py-6">
					<div class="form__basetext-fields form--location lg:flex lg:flex-wrap">
						<div class="w-full">
							{{ wizard.form.errors.locations}}
						</div>
					</div>
				</div>
			</div>
		{% endif %}


		<div id="convenient-formset">

			{% for form in wizard.form.locations %}
				{% include "provider_registration/partials/_location_form.html" with form=form %}
			{% endfor %}
		</div>

		<div class="max-w-prose mx-auto">
			<div>
				<input type="button" id="add-form-button" value="Add another location" class="btn btn-white">
			</div>

			<div id="empty-form" style="display:none">
				{% include "provider_registration/partials/_location_form.html" with form=wizard.form.locations.empty_form %}
			</div>

			<hr class="mt-4 mb-4" />

			<div class="mt-3">
				{{ wizard.form.extra.location_import_required.as_widget }}
				<label class="text-med" for="{{ wizard.form.extra.location_import_required.id_for_label }}">
					{{ wizard.form.extra.location_import_required.label }}
				</label>

				<div class="mt-3 mb-3 prose">
					<p class="helptext">{{ wizard.form.extra.location_import_required.help_text }}</p>
				</div>
			</div>


			<input class="btn mt-8" type="submit" value="{% trans 'next' %}" />

			{% if wizard.steps.prev %}
			<div>
				<button class="btn btn-sm btn-black" name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
				<button class="btn btn-sm btn-black" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
			</div>
			{% endif %}
		</div>
	</form>

{% endblock %}
