{% extends "base.html" %}
{% load i18n static %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}
<p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
{% if form.is_multipart %}
    <form method="post" action="">
{% else %}
    <form method="post" action="">
{% endif %}
{% csrf_token %}
<table>
{{ wizard.management_form }}
{% if wizard.form.forms %}
    <!-- {{ wizard.form.management_form }} -->
    {% for form in wizard.form.forms.values %}
        {{ form.as_table }}
    {% endfor %}
{% else %}
    {{ wizard.form }}
{% endif %}
</table>
{% if wizard.steps.prev %}
<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
{% endif %}
<input type="submit" value="{% trans "submit" %}"/>
</form>
{% endblock %}