{% extends "base.html" %}
{% load i18n static %}

{% block head %}

{% endblock %}

{% block "title" %}
  <title>The Green Web Foundation - Verification Request - Network Footprint</title>
{% endblock %}


{% block content %}
  {{ wizard.form.media }}

  <!-- Initialize a ConvenientForm
	set twice: for IPs form and for ASNs form -->
  <script>
    window.addEventListener('load', function (event) {
      new ConvenientFormset({
        'formsetPrefix': '{{ wizard.form.ips.prefix }}',
        'formsContainerSelector': '#convenient-formset-ips',
        'formSelector': '.convenient-form-ips',

        'canAddForms': true,
        'addFormButtonSelector': '#add-form-button-ips',
        'emptyFormSelector': '#empty-form-ips .convenient-form-ips',

        'canDeleteForms': true,
        'deleteFormButtonSelector': '#delete-form-button-ips',
      });
    });
  </script>

  <script>
    window.addEventListener('load', function (event) {
      new ConvenientFormset({
        'formsetPrefix': '{{ wizard.form.asns.prefix }}',
        'formsContainerSelector': '#convenient-formset-asns',
        'formSelector': '.convenient-form-asns',

        'canAddForms': true,
        'addFormButtonSelector': '#add-form-button-asns',
        'emptyFormSelector': '#empty-form-asns .convenient-form-asns',

        'canDeleteForms': true,
        'deleteFormButtonSelector': '#delete-form-button-asns',
      });
    });
  </script>

  <div class="prose mx-auto">
    <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>

    <section class="my-10">
      <h1>Network footprint</h1>
      <p>We need a way to identify any 'downstream' service as coming from you in a way machines can check quickly. We do this in the following ways:</p>
      <ul>
        <li>checking a service against a list of machine-readable public addresses – usually IPv4 and IPv6 addresses;</li>
        <li>for some large providers providers, we support checking if a service is coming from an network address that belong
          to one or more Autonomous System Numbers (a kind of shorthand for a large part of the internet).</li>
      </ul>
      <p>If you have lots of IP addresses, we support a bulk import. Let us know below, and we'll contact you separately.</p>
    </section>
  </div>

  {% if form.is_multipart %}
    <form enctype="multipart/form-data" method="post" action="" class="form__table">
  {% else %}
    <form method="post" action="" class="form__table">
  {% endif %}

  {% csrf_token %}
  {{ wizard.management_form }}

  {% comment %}
  wizard.form is a MultiForm (from django-betterforms)
  that has 3 separate 'child' forms
   - two 'formset' forms: 'ips', 'asns',
   - one 'regular' form: 'missing_network_explanation'

  We each form has it's own local errors, but we need to also
  show errors not tied to any specific child form, hence the
  'non_field_errors'
  {% endcomment %}


  {% if wizard.form.non_field_errors %}
    <div class="prose my-10 mx-auto">
      <div class="convenient-form bg-neutral-50 rounded-xl px-4 ">
        <div class="form__basetext-fields form--location lg:flex lg:flex-wrap">
          <div class="w-full">
            {{ wizard.form.non_field_errors }}
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  <div class="lg:grid grid-cols-2 gap-16 my-10">

    <section class="prose mx-auto bg-white border-2 rounded-xl mb-6 lg:mb-0 p-6">

      <h3 class="text-3xl mt-0">Identify this provider by IP range</h3>
      <p>You can submit one or more IP ranges which will be used to identify any websites running on this provider.</p>
		<p class="font-bold">Notes:</p>
		<ul class="!pl-4">
			<li class="list-disc">IPv4 and IPv6 formats are supported</li>
			<li class="list-disc">To add a single IP address, put the same address in both the START and END fields</li>
		</ul>
	
      {{ wizard.form.ips.management_form }}

      <div id="convenient-formset-ips">
        {% for form in wizard.form.ips %}
          <div class="convenient-form-ips bg-neutral-50 rounded-xl my-6 p-4">
            <table class="form__table--network mt-0 mb-2">
              {{ form.as_table }}
            </table>
            <input class="text-sm hover:text-base" type="button" id="delete-form-button-ips" value="&#x274C; Delete this IP range">
          </div>
        {% endfor %}
      </div>

      <div class="my-12">
        <input class="btn btn-white"  type="button" id="add-form-button-ips" value="Add an IP range">
      </div>

      <div id="empty-form-ips" style="display:none">
        <div class="convenient-form-ips bg-neutral-50 rounded-xl my-6 p-4">
          <table class="form__table--network mt-0 mb-2">
            {{ wizard.form.ips.empty_form.as_table }}
          </table>
          <input class="text-sm hover:text-base" type="button" id="delete-form-button-ips" value="&#x274C; Delete this IP range">
        </div>
      </div>
    </section>

    <section class="prose border-2 bg-white rounded-xl p-6">

      <h3 class="text-3xl mt-0">Identify this provider by ASN</h3>
      <p>For large services, you can list the AS numbers. The green credentials
        from this provider will count for any IP address shown to belong to the AS numbers listed below.</p>
      <p>Important: only add when you <span class="font-bold">fully</span> operate this AS number.

        {{ wizard.form.asns.management_form }}
        <div id="convenient-formset-asns">
          {% for form in wizard.form.asns %}
            <div class="convenient-form-asns bg-neutral-50 rounded-xl my-6 p-4">
              <table class="form__table--network mt-0 mb-2">
                {{ form.as_table }}
              </table>
              <input class="text-sm hover:text-base" type="button" id="delete-form-button-asns" value="&#x274C; Delete this ASN number">
            </div>
          {% endfor %}
        </div>

        <div class="my-12">
          <input class="btn btn-white" type="button" id="add-form-button-asns" value="Add an AS number">
        </div>

        <div id="empty-form-asns" style="display:none">
          <div class="convenient-form-asns bg-neutral-50 rounded-xl my-6 p-4">
            <table class="form__table--network mt-0 mb-2">
              {{ wizard.form.asns.empty_form.as_table }}
            </table>
            <input class="text-sm hover:text-base" type="button" id="delete-form-button-asns" value="&#x274C; Delete this ASN number">
          </div>
        </div>
      </section>
    </div>

    <div class="prose mx-auto">
      <section class="mt-4 ">

        <label for="{{ wizard.form.extra.description.id_for_label }}">
          {{ wizard.form.extra.missing_network_explanation.label }}
        </label>

        <div class="mt-3 mb-3 prose">
          <p class="helptext">We know that in some cases a provider isn't allocated exclusive use of an IP range or an AS number. If this applies to you, please add some information why this might be the case, so we can account for it when people look up your service.</p>
        </div>

        {{ wizard.form.extra.missing_network_explanation.as_widget }}



        <div class="mt-8">

          <label class="text-med" for="{{ wizard.form.extra.network_import_required.id_for_label }}">
            {{ wizard.form.extra.network_import_required.as_widget }}
            {{ wizard.form.extra.network_import_required.label }}
          </label>

          <div class="mt-3 mb-3 prose">
            <p class="helptext">{{ wizard.form.extra.network_import_required.help_text }}</p>
          </div>
        </div>

      </section>

    </div>

    <div class="prose mx-auto">
      <input class="btn" type="submit" value="{% trans "next" %}" />

      {% if wizard.steps.prev %}
        <div>
          <button class="btn btn-sm btn-black" name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
          <button class="btn btn-sm btn-black" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
        </div>
      {% endif %}
    </div>

  </form>
{% endblock %}
