{% load static %}
		<section class="prose border-2 rounded-xl p-6 bg-black text-white">
            <div class="border-b-2 border-white pb-3 flex items-center">
				<img class="inline border-r-2 border-green my-0 pr-4" width="60px" height="60px" src="{% static 'img/GWF-icon-sunburst--green.svg' %}" alt="Green Web Foundation logo"/>
           	 	<h3 class="text-2xl inline text-white my-0 ml-4 p-0">Support the mission</h3>
			</div>
            <p>Green Web Foundation is on a mission to accelerate the transition to a fossil-free internet by 2030.</p>
			<p>We maintain the world's largest open dataset of websites running on green energy, the <i>Green Web Dataset</i>.
				Every day, across the globe, more than seven million checks against this dataset are made.</p>
			<p>Donations help keep this work freely available and state-of-the-art.</p>
			<p><a class="btn mt-0 font-bold" href="https://www.thegreenwebfoundation.org/donate/" target="_blank" rel="noopener noreferrer">Donate</a></p>
		</section>
