<section class="prose bg-white border-2 rounded-xl mb-6 lg:mb-0 p-6">
          <h3 class="text-2xl border-b-2 mt-2 pb-3">How can I get verified? </h3>
          <p>To become verified, you need to submit a verification request that provides proof that you use green energy for your services. You can prove this if you are avoiding, reducing, or offsetting emissions.</p>
    <p>Submitting the request will approximately take you 15 minutes and is free of charge.</p>
    <p>Once submitted, we will review your request and get in touch if further evidence is needed. As we are a non-profit organisation the verification process is independent.</p>
    <p><a href="https://www.thegreenwebfoundation.org/what-you-need-to-get-verified/" target="_blank" rel="noreferrer noopener">More information on how to get verified</a>.</p>
  </section>
