{% load guardian_tags waffle_tags %}
<div class="provider_listing odd:bg-neutral-100 even:bg-neutral-200 p-3 md:flex md:items-center border-green border-t-2 last-of-type:border-b-2 flex justify-between gap-4">

  <div>
    <p class="my-0">
      {% if provider.last_approved_verification_req %}
        <a class="font-bold" href="{% url 'provider_request_detail' provider.last_approved_verification_req.id %}">{{ provider }}</a>
      {% else %}
        <span class="font-bold">{{ provider }}</span>
      {% endif %}
    </p>

    {% if provider.request and provider.request.approved_at %}
    <p class="my-0 text-sm">Last updated: {{ provider.request.approved_at }}</p>
    {% endif %}
  </div>

  <div class="flex gap-2 text-right items-right items-center">
    {% get_obj_perms request.user for provider as "provider_perms" %}
    {% if "manage_provider" in provider_perms %}
      <a href="{% url 'provider_edit' provider.id %}" class="btn btn-white px-2 text-sm">📝 Update listing</a>
    {% endif %}

    {% flag "verified_domains" %}
      <span class="px-2 text-sm"><a href="{% url 'provider-domain-index' provider.id %}"> Linked Domains</a></span>
    {% endflag %}
  </div>
</div>
