{% load guardian_tags waffle_tags static %}
{% get_obj_perms request.user for provider as "provider_perms" %}
<div class="provider_listing odd:bg-neutral-100 even:bg-neutral-200 p-3 md:flex md:items-center border-green border-t-2 last-of-type:border-b-2 flex justify-between gap-4">
  <div>
    <p class="my-0">
      {% if provider.last_approved_verification_req %}
        <a class="font-bold" href="{% url 'provider_request_detail' provider.last_approved_verification_req.id %}">{{ provider }}</a>
      {% else %}
        <span class="font-bold">{{ provider }}</span>
      {% endif %}
      {% flag "verified_domains" %}
        {% if "manage_provider" in provider_perms %}
          <br />
          {% include "provider_portal/partials/carbon_txt_link.html" %}
        {% endif %}
      {% endflag %}
    </p>

    {% if provider.request and provider.request.approved_at %}
    <p class="my-0 text-sm">Last updated: {{ provider.request.approved_at }}</p>
    {% endif %}
  </div>

  <div class="flex gap-2 text-right items-right items-center">
    {% if "manage_provider" in provider_perms %}
      <a href="{% url 'provider_edit' provider.id %}" class="btn btn-white px-2 text-sm">📝 Update listing</a>
    {% endif %}

  </div>
</div>
